[2016-05-19 12:24] rcrowder commented on #955
I wonder if this is the dreaded pip and setuptools changes to egg file names introduced earlier this year. What version of pip and setuptools do you have on the Pi?

[2016-05-19 12:27] rcrowder commented on #955
Oh wait. That shows 0.4.4 whereas nupic requirements was looking for 0.4.3 Maybe your nupic and nupic.core forks are out of sync. You could trying changing nupic requirements.txt locally to force it to look for 0.4.4

[2016-05-19 12:28] pettitda commented on #955
[code]

[2016-05-19 12:35] rcrowder commented on #955
(Info for others reading this covo.) I should state that it is not advisable to change nupic requirements to force it to find a different nupic.core version. Both nupic and nupic.core must be in lock-step when building from source or installing pre-built versions.

[2016-05-19 12:42] pettitda commented on #955
That worked.  I'm running run_nupic_tests.py now.

Do I need to clean the nupic directory before I pull the latest version?

[2016-05-19 12:45] rcrowder commented on #955
If you nupic is a fork you'll need to merge into the fork before a pull. If it is a clone of master then no, you can just pull the master and git should handle the merge and show any potential conflicts with local edits.

[2016-05-19 13:17] pettitda commented on #955
Okay, I'll update my nupic clone and re-run.

run_nupic_tests.py ended with:

[code]

[2016-05-19 21:57] vitaly-krugl commented on #544
@rhyolight: I am guessing that the lack of build failure in this case could be addressed via `set -o errexit` in relevant build-related scripts, such as the ones in ci/travis/*

Also, `set -o pipefail` is useful for this when a shell script makes use of pipes.

[2016-05-19 22:31] vitaly-krugl commented on #182
the file TesterTest.cpp isn't in the project any longer:

[code]

[2016-05-23 16:13] subutai commented on #369
Note that one of our requirements is that the C++ library has good python bindings as well.

I don't remember in detail the exact operations. I think a good goal is to see if spatial_pooler.py and KNNClassifier.py (both use our home-grown sparse C++ libraries) could be reimplemented with some other library.

[2016-05-23 16:19] subutai commented on #28
@rhyolight Agreed. The issue is indeed pretty big right now. I think a good first step is to replace the use of sparse matrices in the python spatial pooler, python KNN classifier, and/or optimize the existing C++ SpatialPooler (which is not currently too optimized).

[2016-05-23 19:52] breznak commented on #369
Is this really a constraint on the lib? I mean, isn't the py wrapper for our code enough?

[2016-05-23 20:04] breznak commented on #28
@subutai shouldn't the effort focus on the big-impact first? Aka the biggest bottlenecks, which is still TM/TP?

- Another point, I think all optimizations would be slower in global scope first due to the needed conversions; so a good first move would be to implement an object (which we can then easily exchange when experimenting with optimizations) for a dense and sparse vector, goal of #948

@js

[2016-05-23 20:05] breznak commented on #961
@mrcslws ping?

[2016-05-23 23:49] subutai commented on #28
The TM is actually not the biggest bottleneck right now. After changes by @mrcslws it is a pretty small part of the overall profile.

[2016-05-24 12:59] breznak commented on #28
@subutai not really, it still is (even the code complexity compared to SP is higher)

Please see https://github.com/numenta/nupic/pull/3131 for my benchmarks:
* fastest SP (c++ "2D" SP): `0.040 s/call`
* fastest TM/TP (cpp TP): `0.040 s/call`
 * fastest TM: `0.158 s/call`

The old SP problem I've discovered with 1D vs 2D inputs: https://github.com/numenta/nupic.core/issues/380
Problem with TM spee

[2016-05-24 13:00] breznak commented on #28
@rhyolight this IS a super issue with links to sub-issues where possible/active

[2016-05-24 13:15] breznak opened #967 "Support for multi-threaded run"
- Each HTM pipeline composes of SP and TM(TP) computation; these 2 components take approximately same time now, see https://github.com/numenta/nupic/pull/3131

The full pipeline is `Encoder -> SP -> TM -> Classifier/Anomaly`, but the SP,TM are the most computationally intensive routines.

- All modern systems are multithreaded

Therefore the proposed simple optimization would halve the time of pra

[2016-05-24 13:16] breznak commented on #28
Added https://github.com/numenta/nupic.core/issues/967 as a proposal that would halve the computation time easily.

[2016-05-24 14:58] subutai commented on #28
@breznak I will let @mrcslws comment on this. According to Marcus, when you run hotgym, the new TM is a small percentage of the overall profile. Marcus - am I mis-remembering?

I took a quick look at #3131 and sp_profile. I don't remember seeing this script before but it looks like the SP parameters are quite off in sp_profile. Why is potentialRadius only 3?  It should be much larger to form good

[2016-05-24 14:58] mrcslws commented on #28
I commented on https://github.com/numenta/nupic/pull/3131#issuecomment-221298390.

[2016-05-24 18:22] rhyolight commented on #634
I don't think this is an optimization ticket, so I removed that label. @breznak Is this still an issue for you?

[2016-05-24 18:24] rhyolight commented on #373
@breznak Isn't this a duplicate of #369?

[2016-05-24 18:28] rhyolight commented on #128
@breznak When an issue is closed, everyone involved gets notified. If you feel that an issue should be re-opened, please do it.

I don't think the backlog should consist of any idea anyone in the community ever has. We need to vet these issues somehow.

[2016-05-24 18:29] rhyolight commented on #62
I don't really consider this an optimization...

[2016-05-24 21:44] breznak commented on #634
@rhyolight I'm not sure how this works (iff) anymore. The code for local/optimized build was removed at some point. It should be possible to pass flags via `INTERNAL_LINKER/CXX_FLAGS_OPTIMIZED`; but how that works (and you have to find the correct combination yourself)..?

Anyway, the issue is not valid anymore as the code regressed and does not support the functionality.

[2016-05-24 21:44] #634 closed

[2016-05-24 21:49] rhyolight commented on #967
I don't think this is true after reading @mrcslws 's discussion on https://github.com/numenta/nupic/pull/3131

Also, @breznak, I don't want to describe implementation details in Github Issues. I think those should be discussed on the [NuPIC Developer Forum](https://discourse.numenta.org/c/nupic/developers) and subsequent pull request(s).

Each Github Issue should clearly define one proposal or fea

[2016-05-24 21:51] breznak commented on #128
@rhyolight it's not about the current (involved) users...depends how you wanna manage the issues - to me it's more worthy not to forget any valid idea, than having a clean backlog. So I'd suggest closing only issues that are invalid/fixed/wontfix.

This issue is an example, it's still a problem (enhancement), imho if you close it the idea is lost and nobody will discover it again (likely). That sa

[2016-05-24 21:55] breznak commented on #373
I intended this to be a more specific action issue, really actually benchmarking several optim. libraries.
This issue does not hold any useful info, let's close it down ..

[2016-05-24 21:55] #373 closed

[2016-05-24 22:21] rhyolight commented on #128
@breznak Ok, thanks for the input. I'll keep issues open unless I really think they are invalid.

[2016-05-24 22:23] cogmission commented on #967
@rhyolight  I don't have any opinion on the matter, but I was wondering what you might think of having references to implementation discussions from issues?

[2016-05-24 22:24] breznak commented on #967
Well, Marcus said the random code uncovered problematic/unoptimized code-paths, while the "well behaved" data benchmarks another paths. It's still trivial to see that the time would be reduced to `max(TM, SP time)` from `SP + TM time`. Let's wait to the updated benchmark in the aforementioned PR to see how much impact the optimization would have, but my guess is that even when TM/SP are optimize,

[2016-05-24 22:56] rhyolight commented on #967
@breznak I've been advocating for this approach of splitting up features and implementation for years now. [Here's a message from April 2014](http://lists.numenta.org/pipermail/nupic-hackers_lists.numenta.org/2014-April/001943.html):

Not trying to add bureaucracy, but the simple truth is that we don't have the manpower to keep up with you. Keeping issues extremely lean and clean helps. Keeping de

[2016-05-24 23:25] rhyolight opened #968 "Separate sensor regions from encoders"
`ScalarSensor` (region) should not be in `nupic/encoders/` when `nupic/regions/` exists.

[2016-05-24 23:28] rhyolight opened #969 "missing use of more restrictive/descriptive UInt where suitable"
@breznak Can you please describe how this issue is different from #964 and how it improves the encoders?

[2016-05-24 23:30] rhyolight opened #970 "encoders do not implement encode() which is API in python nupic"
* python-Encoder defines `encode()` , not encodeIntoArray() which is just implementation detail (but used everywhere) - so API
* convenience and safety: as a user I'd really expect to feed an encoder a value and get bit-vector output.
 - why would I have to allocate an array, know its type and size (I know it's common in C, but that does not mean the best), when I can get the correct data by retur

[2016-05-24 23:30] rhyolight commented on #970
@mrcslws said:

@breznak said:

* * *

Please continue discussion here.

[2016-05-24 23:32] rhyolight opened #971 "encoders use Real/UInt instead of Real64"
I think more generic Real/UInt should be used, instead of specific Real64, if it's not a very special case where the size is required

[2016-05-24 23:33] rhyolight opened #972 "Create encoder templates"
@breznak Please provide justification.

[2016-05-24 23:34] rhyolight commented on #961
@breznak @mrcslws I've created subtasks for all these issues. Please continue conversations about them on those issues, not on this super issue. It makes them easier to digest and more topical. Thanks.

[2016-05-24 23:35] rhyolight commented on #968
@mrcslws said:

@breznak said:

[2016-05-24 23:38] breznak commented on #961
:+1: thank you for the work and separating the issues Matt!

[2016-05-24 23:40] rhyolight commented on #964
I could not tell what parts of the discussion on #961 applied to this issue @breznak @mrcslws. Please continue the discussion here.

[2016-05-24 23:41] rhyolight commented on #971
I could not tell what parts of the discussion on #961 applied to this issue @breznak @mrcslws, so marked as `under-review` until it is clear. Please continue the discussion here.

[2016-05-24 23:42] rhyolight commented on #972
@mrcslws said:

@breznak said:

I can't tell if this is justified or not. I think it needs more investigation to know if it's going to cause SWIG problems.

[2016-05-24 23:46] breznak commented on #964
@rhyolight thank you. I've added the relevant section of the discussion to the issue description, and removing the "under review" label if it's ok.

[2016-05-24 23:51] rhyolight commented on #967
@breznak I don't want to continue this conversation here on Github. [Let's continue it on HTM Forum](https://discourse.numenta.org/t/how-to-create-finely-grained-issues/437/2?u=rhyolight).

[2016-05-24 23:58] breznak commented on #972
Updated, this could be used as an easy way to resolve #964 , although I feel strictly changing to UInt would be better for the case...but see the linked discussion for that.

[2016-05-25 00:15] rhyolight commented on #967
We will continue discussion of this issue here until it is better-defined: https://discourse.numenta.org/t/multi-threading-optimization-in-nupic/524.

[2016-05-25 01:27] breznak opened #973 "Implement method to get winner columns from TM"
as equivalent to the method in TP.
Usage: in `Anomaly`, ...

`getWinnerColumns(mode="active/predicted/both")` would convert the "active" cells from cells to columnar representation (using cellsPerColumn)

See https://github.com/numenta/nupic.core/pull/890#discussion_r63284351 for example and implementation.

[2016-05-25 15:17] rhyolight commented on #380
@mrcslws Was wondering if you'd take a look at this and add your input.

[2016-05-27 16:04] rhyolight commented on #964
@mrcslws Can you continue your discussion here. Do you object to this initiative? I think the discussion is in your court now.

[2016-05-27 16:41] rhyolight commented on #544
Good point, @vitaly-krugl. I think I'll leave open, but de-prioritize. Easy bug fix by adding those two shell commands to our CI scripts.

[2016-05-27 17:07] rhyolight commented on #902
@oxtopus That's rather ambiguous. Are you in favor of this issue or not?

[2016-05-27 17:11] rhyolight commented on #955
@codedhard @pettitda @rcrowder Just catching up on this issue. Great work, all! Feel free to use [gitter](https://gitter.im/numenta/public/) to chat in real time if it helps.

[2016-05-27 17:17] rhyolight commented on #182
Thanks @vitaly-krugl.

[2016-05-27 17:17] #182 closed

[2016-05-27 17:21] rhyolight commented on #369
Same question from me, @subutai. Why do we care about python bindings in a C++ library used inside nupic.core?

[2016-05-27 18:37] pettitda commented on #955
I got everything to compile on the Raspberry Pi 3 using Raspbian.  Now I'm diving into how to use nupic.

[2016-05-27 18:51] rcrowder commented on #955
@pettitda I got a Raspberry Pi3 delivered this week. Let me know if I can help get a PR together with the required initial changes.

[2016-05-27 18:54] subutai commented on #369
I'm assuming the end goal is to remove the current sparse libraries in nupic.core and replace them with external C++ libraries. Currently the C++ sparse libraries in nupic.core are used directly in our Python code to implement the spatial pooler, KNN classifier, and elsewhere.

An alternative path is to replace those python uses with a standard Python sparse library, such as scipy (Sagan proposed

[2016-05-27 18:54] pettitda commented on #955
Look at what I have here:  https://github.com/pettitda/nupic.core.git

I didn't get around to adding the switch around the changes in CommonCompilerConfig.cmake.

[2016-05-27 21:59] subutai opened #974 "Add overlap accessors to SpatialPooler"
nupic.core change to track the python change listed here: https://github.com/numenta/nupic/issues/3148

[2016-05-27 22:05] pettitda commented on #955
If you can give me some guidelines on style, I can probably find time to get it into shape for a PR.  I just haven't looked at/for the requirements for this project.

[2016-05-28 15:34] rcrowder commented on #955
One obvious thing that could change before a PR, is the handling of the GCC flags. Use of the cmake CheckCCompilerFlag module can be used to check the handling of options such as the ```-m``` flag.

[2016-05-29 22:39] rcrowder commented on #955
I made progress today with pettitda's repo and some local changes to tidy up the GCC flags. Got as far as having the nupic.core unit tests all running and passing on the Raspberry Pi3. I hit memory problems when trying to get the math Python bindings built. So will need to look into that further (possibly external HDD used as a swap partition, or split/simplify down the math binding compile size).

[2016-05-30 12:01] rcrowder commented on #955
@pettitda Here's a comparison of the changes accumulated so far - https://github.com/numenta/nupic.core/compare/master...rcrowder:pi3-changes Maybe you can adopt some of these changes into your clone, to be able to make a PR against master?

[2016-05-30 19:15] mrcslws commented on #969
I think this issue is just saying "The encoders' `getOutputWidth` method should return a `UInt`, not an `int`". That sounds reasonable. I'd support that change, but I think https://github.com/numenta/nupic.core/pull/962 is unlikely to get merged, so you might want to do this as a separate PR.

[2016-05-30 19:42] mrcslws commented on #964
I don't support this change in its current form. It causes the `ScalarSensor` to have to do extra computation to convert the output to floats. https://github.com/numenta/nupic.core/pull/962/files#diff-237e0e56a5acbfa500c00d21523ecf1fR98

But yes, it's weird that the encoder's output type doesn't match the Spatial Pooler's input type. We could template every encoder to let it use any scalar output

[2016-05-30 20:06] mrcslws commented on #972
Templates are definitely an option. And it would be nice to have our encoder output type be more compatible with our SpatialPooler input type (`UInt` array of 0s and 1s).

I mentioned SWIG awkwardness, but we probably don't need to worry about that. We'll find a way.

It feels a little bit messy to make all of our encoders templated. It would mean putting implementations in header files, as Matt m

[2016-05-31 15:30] breznak commented on #969
I think it's on more places, `getOutputWidth` is an example; although it's a low priority issue.

[2016-05-31 15:42] #964 closed

[2016-05-31 15:45] #970 closed

[2016-05-31 15:54] rhyolight commented on #973
@scottpurdy or @mrcslws Please comment before I mark `triage`. Thanks.

[2016-05-31 15:55] breznak commented on #970
I consider this a premature optimization that unnecessarily requires more complex code; but it's too low priority that I cared..so feel free to close as you see fit please.

[2016-05-31 15:59] rhyolight commented on #945
@breznak Can you spend some time [cleaning up this super ticket](https://discourse.numenta.org/t/how-to-create-finely-grained-issues/437)?

[2016-05-31 16:01] #560 closed

[2016-05-31 16:16] breznak commented on #945
@rhyolight what if I go the other way and make this just a "use sanitizers for QA" issue?

[2016-05-31 16:25] breznak commented on #964
The difference was I was willing to fix a smaller issue "encoder output type should be same as used in SP,TM"; regions could be fixed separately as either the templates or the abstract output type are a big change.

[2016-05-31 16:28] rhyolight commented on #945
@breznak I think you're on the right track.

[2016-05-31 16:34] breznak commented on #972
I would prefer the `type SDR` option, considering
- potential SWIG issues w/ templates
- only headers w/ templates
- an output type object is more versatile and future proof for big changes and experimentation

But then again, a relatively small issue is turning into a big job;
The output type abstract object is already proposed in #948 (but lacking discussion lately)

[2016-05-31 16:39] breznak commented on #945
@rhyolight there (?)

[2016-05-31 16:59] rhyolight commented on #945
@breznak There needs to be an issue for putting the infrastructure in place to support the sanitizer process, and a separate issue for each different sanitization. You might think this is overkill, but I guarantee there will be discussions about the proper protocols for each different subject. Better to keep them in separate issues with separate PRs. I don't want one PR that includes the entire th

[2016-06-03 16:23] rcrowder commented on #955
For future reference; On certain Raspberry PI Linux distros, memory usage during the building of nupic.bindings can become an issue (particularly mathPYTHON_wrap.cxx). A swap partition (or temporary swapfile) is therefore required during the `make` processing.

[2016-06-05 13:46] Thanh-Binh commented on #807
Hi all,
I have just downloaded the current version nupic and nupic.core and built at my Ubuntu 14.04 LTS. Everything is OK except by running:
python setup.py test
I have got the following error.
Do you have any idea for solving this problem?
=================================== FAILURES ===================================
___________________ TemporalMemoryBindingsTest.testIssue807 _________________

[2016-06-07 04:18] #974 closed

[2016-06-07 14:16] rhyolight commented on #807
@Thanh-Binh That's not how to run tests. See: https://github.com/numenta/nupic#test

[2016-06-07 14:52] #932 closed

[2016-06-07 15:50] scottpurdy commented on #807
@rhyolight `python setup.py test` should work. It's a relatively new addition that we are experimenting with. @Thanh-Binh does running tests directly with `py.test` work?

[2016-06-07 15:53] oxtopus commented on #807
`python setup.py test` is a wrapper around `pytest` so that the tests are invoked properly.

[2016-06-08 09:31] Thanh-Binh commented on #807
By using py.test, it works better, but there are some errors.
Maybe I have to set the environmental variable BUILD_DIR, but do not know which directory does it mean?

################################################
build/scripts/ThirdParty/Source/CapnProto/gtest/test/gtest_test_utils.py:182: SystemExit
------------------------------- Captured stderr --------------------------------
Unable to find

[2016-06-09 16:59] scottpurdy commented on #779
Will probably get fixed along with #593

[2016-06-15 18:15] scottpurdy opened #977 "Add network factory for creating a network from a file specification"
This task is to:

- Define the file format (probably YAML, similar to the [old serialization format](https://github.com/numenta/nupic.core/blob/d2bc9de05be948bf699e00964c8d6c01ad64af14/src/nupic/engine/Network.cpp#L796-L910))
- Implement a factory function that takes the YAML string and returns a Network instance. This can live in `src/nupic/engine/NetworkFactory.hpp` and corresponding `cpp` file.

[2016-06-15 18:15] scottpurdy commented on #977
@andrewmalta13

[2016-06-15 18:16] scottpurdy opened #978 "Expose network factory to nupic.bindings"
Depends on #977

Expose the factory functions to the nupic.bindings.

[2016-06-15 19:07] rhyolight commented on #807
@Thanh-Binh This is probably the wrong place to discuss this (on a closed issue). Can you create a topic at https://discourse.numenta.org/c/nupic/installation-help

[2016-06-16 16:09] subutai opened #979 "Improve usage of regionLevel and requireSplitterMap"
We should remove regionLevel and requireSplitterMap from Spec.hpp/cpp and PyRegion.cpp. These flags are obsolete and make it harder to understand region spec's. For backward compatibility, we should still allow them until they are completely removed from NuPIC, but ignore them.

Alternatively, as a simpler first step, in PyRegion.cpp, make the Spec items regionLevel and requireSplitterMap optional

[2016-06-16 17:31] rhyolight commented on #895
@utensil @vitaly-krugl @scottpurdy Can we continue this conversation? Is there action that needs to be taken?

[2016-06-16 17:35] rhyolight commented on #878
@numenta/nupic-committers
![Bueller](https://media0.giphy.com/media/MkxZKy77sWoEw/200_s.gif)

[2016-06-16 17:37] rhyolight commented on #852
Does #975 fix this at all?

[2016-06-16 18:22] vitaly-krugl commented on #895
@rhyolight, I understand that @utensil updated our cmake style guide to match our current status quo, so the two should be in sync.

Also, while code reviewing #975, the current status quo didn't feel out of place to me.

[2016-06-16 18:29] rhyolight commented on #895
So I can close this issue?

[2016-06-16 18:47] mrcslws commented on #973
(Typing on my phone quickly before going into airplane mode)

I think this is talking about "active columns", not "winner columns", which would be a new concept.

I intentionally didn't include a suite of utility methods like this. The TM exposes its fundamental pieces. Callers are welcome to derive the active columns from the active cells, but the TM doesn't do it for them.

For the overall syste

[2016-06-16 18:57] scottpurdy commented on #973
Yes, you can get the active columns from whatever feeds them to the TM.

[2016-06-16 19:56] vitaly-krugl commented on #895
I think you can close it.

[2016-06-16 19:56] #895 closed

[2016-06-16 20:09] vitaly-krugl commented on #853
@SaganBolliger -- quite a few changes have been made to the cmake scripts in nupic.core since this issue was filed. Would you mind trying this again against the latest nupic.core in master?

Cheers!

CC @rhyolight

[2016-06-16 20:09] vitaly-krugl commented on #852
By the way, as of a couple of months ago, the build no longer requires a prebuilt copy of libyaml-cpp.a. nupic.core now includes the desired versions of the sources of the external libraries that are built automatically as part of nupic.core build: see https://github.com/numenta/nupic.core/tree/master/external/common/share.

[2016-06-16 21:42] rhyolight commented on #973
Sounds like this is something the client must do, so I will close.

[2016-06-16 22:21] scottpurdy commented on #979
@andrewmalta13 - this is a possible follow up task to the Network factory task

[2016-06-16 22:35] rhyolight commented on #852
Thanks @vitaly-krugl, closing.

[2016-06-16 23:37] rhyolight commented on #852
Whoops, I misread @vitaly-krugl's comment. This should not be closed.

[2016-06-16 23:41] andrewmalta13 commented on #979
👍

[2016-06-17 11:39] hstm opened #981 "Build fails on Ubuntu 15.10 with gcc 4.9"
[1] https://discourse.numenta.org/t/when-building-nupic-getting-error-undefined-references-to-yaml-in-64-bit-ubuntu/747/3
[2] https://github.com/numenta/nupic/wiki/Compiling-NuPIC-on-Ubuntu-15

Example build error message:
[code]
You will find some indicators in the build log, e.g.:
[code]

[2016-06-17 11:41] hstm commented on #981
Since GCC 4.7, GCC provides its own wrappers around ar, nm and ranlib (gcc-ar, gcc-nm, gcc-ranlib), which should be used for builds with link-time optimization (LTO). Since GCC 4.9, using them is actually necessary for LTO builds using convenience libraries to succeed (non-gcc versions don't find the required LTO plugin).

[2016-06-18 23:43] hstm commented on #956
#984

[2016-06-20 09:40] breznak commented on #973
@scottpurdy can you elaborate? I think it's not so trivial, otherwise TM would not add any info to the input. Ok, "winner" columns may be confused with the process after inhibition, but "active" columns are used in 2 meanings in TP and whitepaper: active columns used as inputs, and "active2" columns as activated by feed-forward input or from past predicted state (context). I mean to get these "act

[2016-06-20 13:40] rhyolight commented on #973
@breznak Instead of re-opening until your question is answered, can you ask on https://discourse.numenta.org/c/nupic/developers?

[2016-06-20 14:05] rhyolight commented on #973
@breznak True, but the issue is closed, and I doubt that an answer to your question is going to re-open it. Maybe I'm being too anal about it.

[2016-06-21 16:00] scottpurdy commented on #878
@subutai do you know what it's supposed to do?

[2016-06-21 16:13] subutai commented on #878
@scottpurdy Unfortunately I don't remember the details or why it got out of sync. I agree with @mrcslws on his proposed fix. We should do a quick sweep of the PY regions in NuPIC to make sure no one depends on dims and splittermaps (I don't think they do).

[2016-06-21 20:35] scottpurdy commented on #900
@mrcslws - What is the status of this?

[2016-06-21 21:19] mrcslws opened #986 "Synapse cleanup: Adding 4 synapses might immediately destroy 3 of them"
I've talked about this before, but not in a Github issue.

`Connections::createSynapse` makes room for an extra synapse, and then creates the synapse: https://github.com/numenta/nupic.core/blob/d2bc9de05be948bf699e00964c8d6c01ad64af14/src/nupic/algorithms/Connections.cpp#L126

The problem with this approach is that `createSynapse` is generally called multiple times: https://github.com/numenta/nupi

[2016-06-22 23:42] #981 closed

[2016-06-23 19:52] rhyolight commented on #986
@mrcslws @scottpurdy What is the priority of this issue?

[2016-06-23 19:53] rhyolight commented on #973
@breznak I did not see your question on the forum or on this issue. I'm trying to keep only valid issues open, so closing again.

[2016-06-23 19:53] #973 closed

[2016-06-23 19:57] rhyolight opened #987 "Provide source install for apr dependency"
This task is proposing that we use CMake ExternalProject functionality to fetch a specific source version of `apr` dependency from external repos.

[2016-06-23 19:59] rhyolight opened #988 "Provide source install for apr-util dependency"
This task is proposing that we use CMake ExternalProject functionality to fetch a specific source version of `apr-util` dependency from external repos.

[2016-06-23 20:00] rhyolight opened #989 "Provide source install for "z" dependency"
This task is proposing that we use CMake ExternalProject functionality to fetch a specific source version of `z` dependency from external repos.

[2016-06-23 20:01] rhyolight opened #990 "Provide source install for "yaml" dependency"
This task is proposing that we use CMake ExternalProject functionality to fetch a specific source version of `yaml` dependency from external repos.

[2016-06-23 20:03] rhyolight commented on #759
### Please review this issue

This issue needs to be reviewed by the original author or another contributor for applicability to the current codebase. The issue might be obsolete or need updating to match current standards and practices. If the issue is out of date, please close. Otherwise please leave a comment to justify its continuing existence. It may be closed in the future if no further acti

[2016-06-23 20:04] rhyolight commented on #711
### Issue closed due to inactivity

This issue has had no activity for a long time period, so it has been closed. If you believe it was closed in error, re-open the issue and leave a comment stating a justification for it.

[2016-06-23 20:04] #711 closed

[2016-06-23 20:05] rhyolight commented on #702
### Please review this issue

This issue needs to be reviewed by the original author or another contributor for applicability to the current codebase. The issue might be obsolete or need updating to match current standards and practices. If the issue is out of date, please close. Otherwise please leave a comment to justify its continuing existence. It may be closed in the future if no further acti

[2016-06-23 20:05] rhyolight commented on #684
### Issue closed due to inactivity

This issue has had no activity for a long time period, so it has been closed. If you believe it was closed in error, re-open the issue and leave a comment stating a justification for it.

[2016-06-23 20:05] #684 closed

[2016-06-23 20:06] rhyolight commented on #649
@scottpurdy @vitaly-krugl Seems like this discussion needs to continue?

[2016-06-23 20:08] rhyolight commented on #647
I'm confused. Does the `nupic.bindings` python package even have tests?

[2016-06-23 20:09] rhyolight commented on #646
Need comment from other @numenta/nupic-committers.

[2016-06-23 20:10] rhyolight commented on #644
@breznak Is this issue still valid?

[2016-06-23 20:10] rhyolight commented on #628
Needs discussion from other @numenta/nupic-committers.

[2016-06-23 20:11] #618 closed

[2016-06-23 20:12] rhyolight commented on #604
@scottpurdy Still valid?

[2016-06-23 20:15] rhyolight opened #991 "Review commented-out unit tests for DenseTensorUnitTest"

[2016-06-23 20:15] rhyolight opened #992 "Review commented-out unit tests for DomainUnitTest"

[2016-06-23 20:15] rhyolight opened #993 "Review commented-out unit tests for IndexUnitTest"

[2016-06-23 20:16] rhyolight opened #994 "Review commented-out unit tests for MathsTest"

[2016-06-23 20:16] rhyolight opened #995 "Review commented-out unit tests for SparseMatrix01UnitTest"

[2016-06-23 20:16] rhyolight opened #996 "Review commented-out unit tests for SparseMatrixUnitTest"

[2016-06-23 20:17] rhyolight opened #997 "Review commented-out unit tests for SparseTensorUnitTest"

[2016-06-23 20:43] vitaly-krugl commented on #647
@rhyolight: There are these: https://github.com/numenta/nupic.core/tree/master/bindings/py/tests; there is also py_region_test that gets built that appears to require an installed nupic.bindings.

[2016-06-23 20:45] vitaly-krugl commented on #649
@rhyolight: need to revisit when @scottpurdy returns.

[2016-06-23 20:53] vitaly-krugl commented on #759
These types of warnings still occur in current builds. It would be great if they didn't. Their presence makes it difficult to discern warnings that could be real problems.

[2016-06-23 20:54] scottpurdy commented on #759
Agree with @vitaly-krugl and we should include this task when we revisit and finish up capnp serialization effort.

[2016-06-23 20:55] scottpurdy commented on #604
@rhyolight yes

[2016-06-23 20:57] scottpurdy commented on #986
@rhyolight probably regular (P3?)

[2016-06-23 20:58] vitaly-krugl commented on #990
@rhyolight, there is no background here that explains why the change is needed. The present build is predictable and appears to work well with vetted sources that are included directly in the nupic.core repo. In fact, IIRC, the newer version of YAML might have non-backward-compatible API, so the build might even break with it.

[2016-06-23 20:59] vitaly-krugl commented on #989
@rhyolight, please include justification for this and the related issues that you opened today. Otherwise, it appears "out of the blue" :)

[2016-06-23 22:39] rhyolight commented on #990
@vitaly-krugl Did you miss the super issue for all these? https://github.com/numenta/nupic.core/issues/620

[2016-06-23 22:40] rhyolight commented on #989
See super issue: https://github.com/numenta/nupic.core/issues/620

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Thu, Jun 23, 2016 at 1:59 PM, vitaly-krugl <notifications@github.com>
wrote:

[2016-06-23 22:42] rhyolight commented on #647
If these tests are run during the build, then this issue is just a developer command line problem, making it lower priority IMO.

[2016-06-24 17:11] vitaly-krugl commented on #990
@rhyolight, I did miss the super issue. Which consistent clue would someone look for to learn that there is a super issue?

[2016-06-24 17:15] vitaly-krugl commented on #620
@rhyolight - this issue is way out of date. As of this April, the external dependencies (Yaml, Apr, Z, CapnProto) are no longer prebuilt and no longer have binaries stored in nupic.core. They are all built from source now. It now works as @scottpurdy and I agreed that it should work; this has facilitated the ARM7.1 build work, etc.

I think that this super issue and the recently opened "less than

[2016-06-24 17:17] rhyolight commented on #990
@vitaly-krugl Just this reference to the super issue right under this issue definition, I guess, but there's no indication that it is the parent issue, which is a bit confusing.

![screen shot 2016-06-24 at 10 16 22 am](https://cloud.githubusercontent.com/assets/15566/16345083/d90957be-39f4-11e6-9851-d93eac9ef3e7.png)

[2016-06-24 17:18] rhyolight commented on #620
@vitaly-krugl Thanks, will close this and sub-tasks as obsolete.

[2016-06-24 17:18] #620 closed

[2016-06-24 17:18] rhyolight commented on #987
Closing because: https://github.com/numenta/nupic.core/issues/620#issuecomment-228405305

[2016-06-24 17:18] #987 closed

[2016-06-24 17:18] rhyolight commented on #988
Closing because: https://github.com/numenta/nupic.core/issues/620#issuecomment-228405305

[2016-06-24 17:18] #988 closed

[2016-06-24 17:18] rhyolight commented on #989
Closing because: https://github.com/numenta/nupic.core/issues/620#issuecomment-228405305

[2016-06-24 17:18] #989 closed

[2016-06-24 17:19] rhyolight commented on #990
Closing because: https://github.com/numenta/nupic.core/issues/620#issuecomment-228405305

[2016-06-24 17:19] #990 closed

[2016-06-24 17:19] rhyolight commented on #593
@vitaly-krugl fixed as a part of the win32 effort.

[2016-06-24 17:24] vitaly-krugl commented on #990
@rhyolight Perhaps we should have a simple convention for referencing super- and sub-issues via specific comment. Just like we have `Fixes #123`, we could have `Super #123` and `Sub #124`, `Sub #125`, etc., or something along those lines in an easily-discoverable location.

[2016-06-24 18:25] rhyolight commented on #990
If only Github Issues supported super issues.

[2016-06-27 17:17] mrcslws opened #999 "Add a C++ "ExtendedTemporalMemory""
Port the [ExtendedTemporalMemory](https://github.com/numenta/nupic.research/blob/06a9d9a09ff243d0e64b92957585b929a1400129/htmresearch/algorithms/extended_temporal_memory.py) to C++. Then we can experiment with external connections and apical dendrites using a faster TM, which is important now that we're talking about modeling an array of cortical columns. This implementation is a "jumping off" poi

[2016-06-27 21:48] vitaly-krugl commented on #852
@SaganBolliger, have you tried this build against recent nupic.core master? The directory https://github.com/numenta/nupic.core/tree/master/external/linux32/lib (and others like it) no longer exists, since the source of YAML libraries is now incorporated into the build, which should generate the appropriate libyaml-cpp.a for the target platform.

@rhyolight, I am going to go ahead and close this.

[2016-06-27 21:53] vitaly-krugl commented on #565
@rhyolight, this has been inactive for quite a while. Time to close?

[2016-06-27 21:54] scottpurdy commented on #593
We cannot build source eggs of nupic.bindings and have never been able to. Reopening this to track progress.

[2016-06-27 22:02] scottpurdy commented on #593
@rhyolight I see that it is a little confusing as to whether this was for source build from repo vs. PyPI source install. I'll try to update the description.

[2016-06-28 18:48] #955 closed

[2016-06-28 21:03] #565 closed

[2016-06-28 21:03] rhyolight commented on #852
@vitaly-krugl ok, thanks for following up again.

[2016-06-28 21:03] #852 closed

[2016-06-28 21:04] rhyolight commented on #999
@mrcslws Any chance you can expand upon this description?

[2016-07-01 15:46] taranco opened #1000 "GCC 6.1 compilation error"
When attempting to compile nupic.core with gcc 6.1 the following error occurs:

[code]

Using the flag `-Wno-error=terminate` seems to solve the problem. Nupic.core compiles an pass the tests. I suggest take this into account (CommonCompilerConfig.cmake) when this version of gcc is detected.

[2016-07-01 17:31] vitaly-krugl commented on #1000
@taranco, could you elaborate on the build environment, including version of nupic.core, the operating system and its version? Thank you.

[2016-07-01 17:44] vitaly-krugl commented on #1000
I see, it's a feature of GCC6. I came across this reference: "-Wterminate (enabled by default) warns when a throw will immediate result in a call to terminate like in an noexcept function. In particular it will warn when something is thrown from a C++11 destructor since they default to noexcept, unlike in C++98 (GCC6 defaults to -std=gnu++14)." in https://gnu.wildebeest.org/blog/mjw/2016/02/15/loo

[2016-07-01 17:51] vitaly-krugl commented on #1000
The culprit function is the destructor:
[code]

C++ has no mechanism for passing an exception out of a destructor (the runtime calls `terminate()` instead), thus exceptions raised inside a destructor look questionable to the compiler.

[2016-07-01 18:32] taranco commented on #1000
It's Arch Linux (GNU/Linux) @vitaly-krugl:

[code]

[2016-07-07 19:07] #977 closed

[2016-07-13 00:16] #979 closed

[2016-07-13 17:46] rhyolight opened #1008 "Add note to README about different python versions on OS X"
Lots of people run into this abort trap when installing.

[2016-07-14 14:50] #1008 closed

[2016-07-14 14:54] rhyolight commented on #999
@mrcslws Please update the description of this issue. We need to be explicit about any new features we are adding. I'm sure the OS community is confused about what exactly the point of this issue is. It would be great if you could describe this in a way @breznak (for example) can understand the point of it.

[2016-07-14 15:09] mrcslws commented on #999
Can do. The PR contains the most up-to-date info, but I edited my first comment above to say a little more.

[2016-07-19 22:13] #999 closed

[2016-07-21 16:05] mrcslws opened #1011 "TemporalMemory columnForCell no longer exists on SWIG bindings"
This broke NAB:

[code]

[2016-07-22 00:47] #1011 closed

[2016-07-25 23:22] vitaly-krugl opened #1013 "Fix futex hang in nupic.bindings manylinux wheel running on Ubuntu 16.04"
While the wheel generated by https://github.com/numenta/nupic.core/pull/1001 passes all nupic.core and nupic tests on Ubuntu 14.04, it presently fails when executing some of the nupic tests on Ubuntu 16.04. The specific failure is a hang upon locking of the futex by capnp code that is statically linked into nupic.bindings extension shared object(s).

I described the hang in https://mail.python.org

[2016-07-27 07:44] utensil commented on #324
Progress report:

I've been trying to learn more about SWIG and Python internals to develop understandings of the fatal failure of my work on this issue at https://github.com/utensil/nupic.core/tree/324-fix-coverage , in which I had pieced things together and bypass some fried circuits (see https://github.com/utensil/nupic.core/commit/0eaba6b523567d620f1cd756790aaff2ea391c62 ) but ended up :boom:

[2016-07-27 22:07] vitaly-krugl commented on #1013
I am pretty sure I figured out the cause. This is related to the capnp integration between nupic and nupic.bindings.

While stepping through the about-to-hang code in GDB, I noticed that the value of kj's `Mutex.futex` instance variable would change greatly and unpredictably from one invocation to the next and that the `Mutex::Mutex` constructor in nupic.bindings would never get called.

For examp

[2016-07-27 23:44] vitaly-krugl opened #1014 "When built with -DGLIBCXX_DEBUG, c++ detects out-of-bounds access to _synapses in Segment::freeNSynapses"
Build nupic.core with -DGLIBCXX_DEBUG, and install nupic.bindings from that build. Then install matching nupic and run the tests `python nupic/tests/unit/nupic/research/tp10x2_test.py --verbose`. More specifically, you may run `python tp10x2_test.py TPTest.testCheckpointMiddleOfSequence2` to get directly to the offending test.

The debug build of C++ containers detects access to element 30 (0-base

[2016-07-30 00:28] mrcslws opened #1015 "Add apical dendrites to the C++ ETM"
Port the [Python ExtendedTemporalMemory](https://github.com/numenta/nupic.research/blob/5230a39e3adf9f62aa16d146ad8415d0bfb9f7da/htmresearch/algorithms/extended_temporal_memory.py)'s apical dendrites to the C++ ExtendedTemporalMemory.

Followup to https://github.com/numenta/nupic.core/issues/999

[2016-07-30 01:15] mrcslws opened #1017 "TemporalMemory::save isn't compatible with TemporalMemory::load"
In `save`, the winner cells are saved before the active segments. https://github.com/numenta/nupic.core/blob/e71b815c6c044918f4d58e12e169a2376b41845d/src/nupic/algorithms/TemporalMemory.cpp#L915

In `load`, the winner cells are loaded between the active and matching segments. https://github.com/numenta/nupic.core/blob/e71b815c6c044918f4d58e12e169a2376b41845d/src/nupic/algorithms/TemporalMemory.cpp

[2016-08-01 17:26] natoromano opened #1019 "Update bindings to include SDRClassifier"
SDRClassifier needs to be usable from the Python interface, after [this PR ](https://github.com/numenta/nupic.core/pull/1010)was merged.

[2016-08-01 22:14] #1019 closed

[2016-08-01 22:32] mrcslws opened #1021 "TemporalMemory: the maxNewSynapseCount handling has an unsigned int underflow bug"
Thanks @andrewmalta13 for catching this.

https://github.com/numenta/nupic.core/blob/7212c23cbfe7bdb25141cb33307e8252f5a202d6/src/nupic/algorithms/TemporalMemory.cpp#L529

[code]

If `bestMatch->overlap` is greater than `maxNewSynapseCount`, `nGrowDesired` will become a huge number because it's unsigned.

[2016-08-01 23:09] #1021 closed

[2016-08-01 23:15] natoromano opened #1023 "Versions in classifier bindings are inconsistent"
[This little line](https://github.com/numenta/nupic.core/pull/1020/files#diff-1a6c418a038bfba7fa256a3b92fa00faR1588) got the `nupic` tests to fail when deserializing the C++ SDRClassifier. The version is actually 1.

Little mistake on my part for overseeing it, PR with fix to come Sorry @scottpurdy.

This should simply reference self.VERSION rather than something hard coded right?

[2016-08-02 01:06] #1023 closed

[2016-08-02 01:42] vitaly-krugl opened #1025 "Implement build of wide-unicode manylinux nupic.bindings wheel for x86_64"
manylinux1 policy described in [PEP-513](https://www.python.org/dev/peps/pep-0513/) facilitates creation of python wheels that are compatible with many modern linux distributions.

[2016-08-02 01:58] #1025 closed

[2016-08-02 20:45] natoromano opened #1026 "Indexing bug in SDRClassifier serialization"
The current implementation of SDRClassifier has a very slight indexing bug in serialization, which comes up when doing multi-step prediction.

PR coming very soon...

[2016-08-02 22:30] ywcui1990 opened #1028 "Missing overlap accessor in the C++ spatial pooler"
@hernandezurbina have added a overlap accessor to the python spatial pooler a while ago, yet there is no corresponding functions in the C++ spatial pooler. Should we also add an overlap accessor to the C++ version to make them identical?

https://github.com/numenta/nupic/commit/ee3378570c56af9054d8a8a8c32958c5a555c25c

[2016-08-03 17:42] mrcslws commented on #1028
These?

https://github.com/numenta/nupic.core/blob/master/src/nupic/algorithms/SpatialPooler.hpp#L821

Maybe you have an old nupic.core installed.

[2016-08-03 18:28] ywcui1990 commented on #1028
That's what I am looking for. Thanks Marcus!

[2016-08-03 18:28] #1028 closed

[2016-08-03 23:20] #1015 closed

[2016-08-04 16:22] mrcslws opened #1029 "Lots of GCC "maybe-uninitialized" false positives"
I keep having to disable the "maybe-uninitialized" GCC check. It keeps having false positives.

- https://github.com/numenta/nupic.core/commit/e193bbe030f738eeee9a534970d59a1e13b3e9c8
- https://github.com/numenta/nupic.core/commit/92a04f5e3e5018e75d232010456347c77ff74065

I'm running into it a third time in https://github.com/numenta/nupic.core/pull/1018

I think we should disable this check in th

[2016-08-05 18:25] vitaly-krugl opened #1031 "Invalid AR and RANLIB flags generated for Apr release build with G++ >= 4.9"
Per https://discourse.numenta.org/t/building-error-nupic-core-in-ubuntu-16-04-lts/1166/24, invalid AR and RANLIB flags generated for Apr release build with G++ >= 4.9 are breaking the build. The author of that discourse post commented:

./nupic.core/build/scripts/ThirdParty/Build/Apr1StaticLib at the line 147 as follows:

This bug was introduced by my change: https://github.com/numenta/nupic.core/

[2016-08-05 18:38] rhyolight commented on #1031
Thanks so much @vitaly-krugl! @Thanh-Binh hopefully will appreciate this. 👍

[2016-08-05 19:27] #1031 closed

[2016-08-09 11:28] breznak opened #1033 "GCC 5 warning incompatible compile flag"
`Scanning dependencies of target _math
[ 67%] Building CXX object src/CMakeFiles/_math.dir/mathPYTHON_wrap.cxx.o
cc1plus: warning: command line option ‘-Wno-incompatible-pointer-types’ is valid for C/ObjC but not for C++
`

May be similar to #1029 ?

[2016-08-09 18:03] scottpurdy commented on #1026
Reopening to make sure we get tests that will catch this type of thing in nupic.core rather than relying on nupic tests.

[2016-08-09 22:14] #1017 closed

[2016-08-09 22:44] vitaly-krugl opened #1034 "Link nupic.core static lib tests with the nupic_core combined library instead of solo"
Presently, the static lib tests in nupic.core are linked with the nupic_core_solo static library, which is an intermediate library that is not intended to be an output artifact. The nupic_core "combined" static library is the intended static library output artifact. Therefore, the tests should be linked against and be testing the "combined" nupic_core library.

[2016-08-09 23:02] mrcslws commented on #1029
I solved the false positives by changing the code and making it more obvious to the compiler that the variable was guaranteed to be initialized.

[2016-08-09 23:02] #1029 closed

[2016-08-10 08:02] breznak opened #1035 "SP cleanup"
A random walk-through SpatialPooler code with smaller cleanups.

[2016-08-10 08:27] breznak opened #1036 "SP test for compute/ overall functionality is missing!"
In a local branch I managed to break SP's functionality with all unit-tests passing!
The tests check individual methods, but we should also verify that, the most important functionality, complex `compute()` is correct.

I don't know if a simple, artificial test should be written, or the functionality of `Hello_SP_TP` , or AD in #890 can be turned into a test-case?

Desired: SP.compute() is tested

[2016-08-10 08:41] breznak commented on #1036
the test should also test output on later stages, when all the (inhibition, boosting, dutyCycles,...) could have had chance to be usedd. So eg on 1st, 100th and 10k-th iterations.

[2016-08-10 14:38] rhyolight commented on #1036
Seems like a legit proposal to ensure that the `compute` method is directly covered by unit tests. I marked as under-review because I want @scottpurdy or @mrcslws to confirm. I believe sometimes core functional is tested in nupic python tests.

[2016-08-10 14:53] breznak commented on #1036
That sounds right, but when you are developing only for C++ ...It'd be better to have all coverage in C++ only.

[2016-08-10 22:16] scottpurdy commented on #1036
We should fully unit test everything in the C++ with C++ tests. In this case, `SpatialPooler.compute` has almost no logic at all and instead delegates pretty much all of the logic to a bunch of other functions. So I'm not sure I'd write an unit tests for `compute` specifically.

[2016-08-10 23:02] #1026 closed

[2016-08-11 07:57] breznak commented on #1036
@scottpurdy well, #1037 SP cleanup managed to silently corrupt that, with all unit tests passing.
(the CI fails only because I haven't removed the function from swig bindings which is removed in C++
https://travis-ci.org/numenta/nupic.core/jobs/151154581#L6679
)

And that could always happen, that is why I propose a "global functionality" test along with the "atomic functionality" unit tests.

[2016-08-11 15:47] rhyolight commented on #1036
It is certainly not a bad idea to add a higher-level unit test around the compute function.

[2016-08-12 00:55] #1013 closed

[2016-08-12 00:55] #1034 closed

[2016-08-14 05:36] vitaly-krugl opened #1040 "Solve stdc++ ABI incompatibility between manylinux nupic.bindings and recent Linux distros"
It turns out that the c\+\+11 standard prescribed a new ABI for certain classes, but compiler toolchains took their own sweet time to implement that ABI. While they support -std=c\+\+11, the implementation of the new ABI is not uniform. The baseline C++ toolchain prescribed by the manylinux policy supports std=c\+\+11, but doesn’t implement the new ABI. The 5.4.0 toolchain on Ubuntu 16.04 implemen

[2016-08-14 21:21] vitaly-krugl opened #1041 "nupic.core repo contains redundant Swig executables for Linux distros"
There are several external/linux*/bin/swig executables that weren't removed when we updated external/Swig.cmake to build Swig from source for non-Windows platforms.

It's confusing to have unused artifacts in the repo.

[2016-08-15 21:51] #1041 closed

[2016-08-16 22:42] vitaly-krugl opened #1043 "Use swig %pythonbegin instead of PREPEND_BOILERPLATE_TO_PYTHON_PROXY_MODULE"
PR #1030 added [PREPEND_BOILERPLATE_TO_PYTHON_PROXY_MODULE](https://github.com/numenta/nupic.core/pull/1030/files#diff-95e351a3805a1dafa85bf20b81d086e6R715) to prepend the necessary boilerplate python code and file header from src/nupic/bindings/swig_proxy_preamble.py to the swig-generated python proxy modules.

I later learned that this can be accomplished via the Swig element [%pythonbegin](http

[2016-08-16 22:49] #1040 closed

[2016-08-17 00:03] mrcslws opened #1044 "Add learnOnOneCell to C++ ETM"
Port the Python [ExtendedTemporalMemory](https://github.com/numenta/nupic.research/blob/85522c3c15146f7f64fb8348c8f26034612197f2/htmresearch/algorithms/extended_temporal_memory.py)'s "learnOnOneCell" feature to the C++ ExtendedTemporalMemory.

It's not clear whether we'll use this, but it will make conversations easier once the two implementations get the same test results, and the C++ ETM current

[2016-08-17 16:50] utensil commented on #70
I understand I haven't been able to work on `nupic.core` lately and I'm not sure when would I be able to work on this issue, but after I saw https://github.com/numenta/nupic.core/pull/890#issuecomment-239029920 , I found this old issue and assigned this to myself (thanks to the multiple-assignee feature) and I do have some related work lately involving `cppcheck` and `coverity`(related to #61 ).

[2016-08-17 21:58] #1044 closed

[2016-08-17 22:44] scottpurdy commented on #822
One potentially better way to fix this is to see if we can avoid the conflict when the schema is compiled into multiple extensions. Perhaps we can avoid it simply by preventing the exportation of conflicting symbols or namespacing them. I'm not sure if this is possible, need to understand the problem better.

[2016-08-17 23:30] vitaly-krugl commented on #822
@scottpurdy, as of PR #1039, the nupic.bindings extension share objects should be hiding all their symbols, except their extension initialization functions. Is that good enough?

[2016-08-20 15:36] rcrowder opened #1048 "Invalid MS Visual C compilation flag"
A compilation flag for Microsoft Visual C compilation was added to the CMake build scripts at a time when only nupic.core C++ files were being compiled by the CMake build. The more recent addition of building from source of external static libraries has resulted in this flag being invalid.

The `/TP` [1] flag should be removed from the common cmake flags for MSVC builds [2], so that C files that e

[2016-08-20 15:45] rcrowder opened #1050 "Missing include files required for MSVC 2015"
Microsoft have changed certain STL related include files [1], and subsequently trying to build the nupic.core C++ library using Visual Studio 2015 results in a failed build due to two missing include files (algorithm requiring a separate include of iterator, if iterators are used).

1 https://msdn.microsoft.com/en-us/library/bb531344.aspx?f=255&MSPPError=-2147217396

[2016-08-20 16:01] rcrowder opened #1052 "MSVC optimizer failing due to a few `using` statements."
PR #709 added a variety of serialization related changes. Two of those commits [1, 2] causes the Microsoft Visual C compiler/optimizer to fail. Scott had a comment answered [3] on why `using Serializable::write;` was added to the Spatial Pooler. And for most of those additions everything looks ok, but for some reason adding them to SparseBinaryMatrix and SparseMatrix throws an unknown exception wh

[2016-08-22 19:51] rhyolight opened #1053 "Winner columns chosen with no overlap with input (local inhibition)"
C++ counterpart to https://github.com/numenta/nupic/issues/3287

[2016-08-22 21:43] vitaly-krugl opened #1055 "Build a manylinux nupic.bindings wheel for nupic.core per PEP-513"
Create a single nupic.bindings wheel that supports many modern linux distributions using the manylinux1 policy per [PER-513](https://www.python.org/dev/peps/pep-0513/)

[2016-08-22 23:41] vitaly-krugl opened #1056 "Parallel build fails"
Per https://discourse.numenta.org/t/unable-to-run-parallel-builds-of-nupic-core-in-os-x/1274, running the following on OS X results in failed build

[code]

[2016-08-23 00:43] #1056 closed

[2016-08-23 07:45] mrcslws opened #1058 "TM should grow synapses on predicted cells, not just bursting cells"
nupic.core counterpart of https://github.com/numenta/nupic/issues/3292

[2016-08-23 18:31] #1050 closed

[2016-08-24 06:44] #1055 closed

[2016-08-26 15:38] #1048 closed

[2016-08-26 21:58] #1058 closed

[2016-08-28 04:06] mrcslws opened #1062 "TM: The SegmentOverlap is making the code awkward"
See the description here: https://github.com/numenta/nupic/issues/3306

This is also applicable to the C++ implementation.

[2016-08-28 16:21] mrcslws opened #1064 "TM: Get rid of "destroyed" Segments / Synapses"
I'm not actively coding this, but I think it would be a good idea.

Currently the Connections class has each of the following structs:

- Segment
- SegmentData
- Synapse
- SynapseData

A "Segment" is used for identity, for referring to a segment. It contains a cell and an index. It's essentially a pointer to a `SegmentData`, and we "dereference" the pointer by doing a couple of vector lookups. Sam

[2016-08-29 15:02] rhyolight opened #1065 "cpp TP Checkpointing inconsistent after many records"
Source issue: https://jira.numenta.com/browse/NUP-1864

In a test between two models - one checkpointed and the other not - the results begin to vary after many records.
This does not happen for NonTemporal models nor for the python version of the TP.

Tests have been added (currently being skipped) to demonstrate behavior:

- /tests/regression/checkpointCompatibility/TestCheckpointValidity.py

Fe

[2016-08-29 15:09] rhyolight commented on #1064
@numenta/nupic-reviewers Please comment on this idea.

[2016-08-29 15:22] oxtopus commented on #1064
Seems like a good idea to me.

[2016-08-29 16:28] vitaly-krugl commented on #1064
@mrcslws, which capabilities would we give up as the result of the proposed change?

[2016-08-30 20:45] subutai opened #1066 "Uninitialized timer variable in Region.cpp"
Region level timers in the Network API provide valuable profiling information.

In Region.cpp/hpp there is a boolean variable called `profilingEnabled_` which controls whether region timers are enabled for each region.  This variable is not initialized in the constructor, which means it is randomly initialized.

It should be initialized to false in the constructor.

[2016-08-31 06:28] mrcslws commented on #1064
I've been pondering this as I changed the [Python version](https://github.com/numenta/nupic/pull/3307).

**Update**

I think these two things are worth solving:

1. Remove all the logic around destroyed segments and synapses
   - Stop forcing the Python implementation to do this.
2. Stop creating a new vector every time we call segmentsForCell or synapsesForSegment.
   - Perf!

But I don't think w

[2016-09-01 00:24] BoltzmannBrain opened #1067 "Redundant columnForSegment lambda function in ETM"
`columnForSegment` is defined as a lambda function twice in ETM ([here](https://github.com/numenta/nupic.core/blob/master/src/nupic/experimental/ExtendedTemporalMemory.cpp#L194) and [here](https://github.com/numenta/nupic.core/blob/master/src/nupic/experimental/ExtendedTemporalMemory.cpp#L704)) and should just be a single static function (like [`cellForSegment`](https://github.com/numenta/nupic.co

[2016-09-01 03:50] mrcslws commented on #1067
It needs access to `cellsPerColumn_` so it can't be defined as a function. It actually has to be a lambda, or it could be a function that has an argument bound to it with `std::bind`, but that's essentially the same thing as a lambda.

[2016-09-01 03:56] mrcslws commented on #1064
I built it: https://github.com/mrcslws/nupic.core/commit/61751dc942bfccc3024b76be6dceed9afc539c92

It's ~15-30% faster, depending on the perf test.

It builds on top of https://github.com/numenta/nupic.core/pull/1063 so I'm gonna wait until that gets through review before submitting the PR.

[2016-09-01 08:02] mrcslws commented on #1064
And here's the Python version: https://github.com/mrcslws/nupic/commit/db09b3324ff3e5327250919eed3318901c9ea053

It's performance-neutral (the speed fluctuates, it's sometimes faster and sometimes slower). The TM compatibility tests pass with these two changes combined.

It builds on top of https://github.com/numenta/nupic/pull/3307

[2016-09-01 17:19] rhyolight opened #1068 "AV builds are not uploading releases properly on S3"
The NuPIC AV builds rely on wheels being uploaded from nupic.core AV builds to S3. It should upload a file with this pattern every release:

S3 bucket: `artifacts.numenta.org`
S3 Path: `/numenta/nupic.core/releases/nupic.bindings/nupic.bindings-${BINDINGS_VERSION}-cp27-none-win_amd64.whl`

[2016-09-01 17:25] rhyolight commented on #1068
I was wrong about this. Releases are going to pypi. I forgot.

[2016-09-01 17:25] #1068 closed

[2016-09-06 18:47] rhyolight commented on #702
Duplicate of #3245.

[2016-09-06 18:47] #702 closed

[2016-09-06 22:09] oxtopus opened #1069 "Developer instructions are no longer valid"
...at least not with respect to downstream `nupic` project following recent changes there.

Background
------------

From https://github.com/numenta/nupic.core#developer-installation, if you are doing active development on `nupic.core`, and want incremental builds:

[code]

And then, some variant of `python setup.py develop`.

This is all well and good.  This will result in a `nupic.bindings.egg-l

[2016-09-06 22:29] rhyolight commented on #1069
While nupic.core releases are still working, I'm aware that nupic releases are broken. We'll be creating a new release process with Bamboo as soon as we've gotten the pipelines running properly.

Your other points are valid. The easiest fix is https://github.com/numenta/nupic/pull/3325 as you proposed, @oxtopus. This might be fine, and will allow devs to continue working on HEAD of master in both

[2016-09-07 04:46] rhyolight commented on #1069
Ok, so I think we need to continue discussing this. @scottpurdy @vitaly-krugl @oxtopus and I had a meeting today about this. It's a problem because we're not going to be able to verify nupic.core / nupic synchronicity, which means have a broken pipeline.

Why not https://github.com/numenta/nupic/issues/3325 as a quick fix now, giving developers a way to run NuPIC with any nupic.core dev version? T

[2016-09-07 06:46] vitaly-krugl commented on #1069
@rhyolight, regarding #3325, please work that out with @scottpurdy. I am focused on the longer-term solution.

[2016-09-07 06:50] vitaly-krugl commented on #1069
@rhyolight @oxtopus, it sounds like the installation issue is with nupic, so why is this issue filed in nupic.core?

[2016-09-07 13:55] rhyolight commented on #1069
@vitaly-krugl I talked to Scott and he is fine with merging #3325 as a quick fix. Also, regarding a longer-term solution, keep in mind that anything you come up with now might need to change when we actually put together our release process. Just keep the release in mind.

[2016-09-07 13:57] rhyolight commented on #1069
Oh yea, also, before we can close this issue we need to update compilation instructions so developers can build from local source. And provide some instructions for anyone who's run into the problems Austin described in the description of this issue.

[2016-09-07 15:25] rhyolight commented on #1069
After discussion with @oxtopus and @vitaly-krugl, I do think this issue should be tracked at https://github.com/numenta/nupic/issues/3327 instead of on the nupic.core issue tracker. Please continue discussion there. Sorry for the inconvenience.

[2016-09-07 15:25] #1069 closed

[2016-09-07 15:27] oxtopus commented on #1069
@vitaly-krugl The issue was created here because it spans both nupic and nupic.core, but is exposed when you _follow_ the instructions in nupic.core.

I don't care _where_ the issue is, so long as the instructions in nupic.core for developer workflow is correct and working.

[2016-09-07 15:35] rhyolight commented on #1069
I understand where you are coming from.

[2016-09-07 23:49] #1062 closed

[2016-09-09 02:01] vitaly-krugl opened #1072 "Drop the declare_namespace call from bindings/py/nupic/bindings/__init__.py"
This is an easy beginner task.

"nupic" is the only namespace package being intentionally declared (see `namespace_packages` in `bindings/py/setup.py`).

The `declare_namespace` call in bindings/py/nupic/bindings/**init**.py appears to be declaring an additional namespace package "nupic.bindings", but as far as I know this is unintentional, and the lack of "nupic.bindings" in `namespace_packages`

[2016-09-09 02:02] vitaly-krugl commented on #1072
cc @rhyolight

[2016-09-09 23:07] mrcslws opened #1073 "The SWIG overhead on the ETM is more expensive than the algorithm itself"
Here's a clip from a profile of [this research script](https://github.com/numenta/nupic.research/blob/d6374a213172dbdfc671727b5d288fef1ef99786/projects/l2_pooling/multi_column_convergence.py).

![image](https://cloud.githubusercontent.com/assets/364113/18405320/08433246-76a6-11e6-9b85-fe271981f95f.png)

It's a tree view. `nupic::py::Instance::invoke` is calling various `_wrap_ExtendedTemporalMemor

[2016-09-12 17:56] #1053 closed

[2016-09-12 18:29] #1073 closed

[2016-09-12 22:29] vitaly-krugl opened #1075 "py_region_test.exe fails on Windows builds"
I discovered this while working on the integration of Win64 build of nupic.bindings into Bamboo-CI.

The call to numpy's `import_array` fails and emits "ImportError: numpy.core.multiarray failed to import".

For some reason, we weren't executing py_region_test.exe in our AppVeyor build. However, when I did a test run with py_region_test.exe, it failed the same way in AppVeyor.

I initially narrowe

[2016-09-12 22:30] vitaly-krugl commented on #1075
cc @rcrowder - any thoughts?

[2016-09-13 01:06] vitaly-krugl opened #1077 "In Bamboo build, distutils uses Visual C++ instead of the mingw32 toolchain, despite distutils.cfg"
ci/bamboo/build-windows.ps1 in https://github.com/numenta/nupic.core/pull/1076 copies `external\windows64-gcc\bin\distutils.cfg` to `$($env:PYTHONHOME)\Lib\distutils.cfg`. This distutils.cfg instructs distutils to use the mingw32 toolchain.

The same logic works as desired in nupic.core's AppVeyor build, resulting in the use of mingw to build the dummy.c file when generating bdist_wheel. However,

[2016-09-13 01:14] vitaly-krugl commented on #1077
Fixed in the still-in-progress PR, so closing.

[2016-09-13 01:14] #1077 closed

[2016-09-13 01:26] vitaly-krugl opened #1078 "Integrate win64 release build into Bamboo-CI"

[2016-09-13 20:36] #1078 closed

[2016-09-14 22:57] mrcslws opened #1079 "SpatialPooler::mapColumn_ produces different results from Python"
This handling of `coord` is broken:

https://github.com/numenta/nupic.core/blob/78f20ffea1f1f07e5d7fd529dd298c521abe0841/src/nupic/algorithms/SpatialPooler.cpp#L686

Because `coord` is a UInt and not a float, these lines will `floor` the result, both when it multiplies with the ratio and when it shifts it further. It should stick with floats, and then call `floor` after doing all the math.

This b

[2016-09-14 23:13] mrcslws opened #1080 "SP Perf: Stop making big lists of neighbors for every column"
Local inhibition is currently very slow. For every column, we create a list of all columns in its neighborhood. The vast majority of the SP's time is spent creating this list.

This list doesn't need to exist. We should just iterate through the neighborhood without ever putting it in a list.

[2016-09-15 21:56] #1075 closed

[2016-09-16 17:39] #1079 closed

[2016-09-16 17:39] #128 closed

[2016-09-16 17:39] #1080 closed

[2016-09-16 18:42] rhyolight opened #1087 "Add release docs"
Add a RELEASE.md file with release procedures.

[2016-09-16 18:46] rhyolight opened #1088 "Create 0.4.9 release candidate"

[2016-09-16 22:02] #1087 closed

[2016-09-17 01:53] scottpurdy commented on #822
@vitaly-krugl - no I don't think that is good enough

[2016-09-19 22:10] scottpurdy opened #1093 "Fix Bamboo OS X error with pip cache dir"
See https://ci.numenta.com/browse/NUP-CORE-BOX-289/log

The job is currently set up to use `/shared` as a cache dir for pip but given that each job will get an entirely fresh Vagrant instance, this should have any benefits. It also throws an error right now since there is no `/shared` directory.

[2016-09-19 22:55] #1093 closed

[2016-09-20 04:48] mrcslws opened #1095 "Installing XCode 8 makes nupic.core build fail"
With:

[code]

I eventually get the error:

[code]

When I delete XCode and rely on older command line tools...

[code]

...it works.

[2016-09-21 07:27] breznak opened #1096 "Provide FindNupic find module for CMake"
so nupic.core libraries can be easily detected & included by 3rd party C++ programs.

https://cmake.org/Wiki/CMake:How_To_Find_Libraries

[2016-09-21 23:56] mrcslws opened #1097 "Bools can't be used as Region creation params"
If I have a parameter of type "Bool", and I do

[code]

I get the error error:

[code]

[2016-09-22 20:21] #1097 closed

[2016-09-23 02:45] mrcslws opened #1100 "SP columns near the boundary have fewer neighbors"
This is the nupic.core counterpart for issue: https://github.com/numenta/nupic/issues/3358

[2016-09-23 07:58] #1064 closed

[2016-09-23 08:07] mrcslws opened #1102 "It's hard to test TM serialization backward-compatibility"
When we change the TM, it's hard to check whether we've broken backward-compatibility with old serialized TMs.

It's worth having a quick solution for this, even if it's not fully automated.

[2016-09-23 15:54] rhyolight commented on #1096
@numenta/nupic-committers Haven't we tried this before?

[2016-09-23 15:58] oxtopus commented on #1096
Not exactly.  I think @breznak is suggesting we provide a generic CMake module so that consumers of nupic.core can integrate it easily into their own CMake builds.  👍  from me.

[2016-09-23 16:09] oxtopus opened #1104 "Inconsistent default SpatialPooler parameters"
The default parameters for the c++ SpatialPooler (https://github.com/numenta/nupic.core/blob/master/src/nupic/algorithms/SpatialPooler.hpp#L232-L249) differ from the swig interface (https://github.com/numenta/nupic.core/blob/master/src/nupic/bindings/algorithms.i#L1020-L1037) file that provides bindings for python.  Furthermore, both differ from the pure-python implementation in nupic (https://git

[2016-09-23 16:17] rhyolight commented on #1104
@oxtopus I trust you will close this issue when you are satisfied with an answer and open up any new actions that should be taken in response to the answer as new issues.

[2016-09-23 17:18] scottpurdy commented on #1096
👍 from me as well

[2016-09-23 19:34] #1100 closed

[2016-09-23 19:39] #1102 closed

[2016-09-23 19:49] mrcslws commented on #1067
Tentatively closing this.

[2016-09-23 19:49] #1067 closed

[2016-09-23 19:50] mrcslws opened #1106 "The ETM should check its inputs to see if they're valid"
I made a case for this in https://github.com/numenta/nupic/issues/3277

For now, I'll just add it to the ETM.

[2016-09-27 15:36] rhyolight commented on #1095
Building bindings requires `ARCHFLAGS="-arch x86_64"`. Do you have that set in your environment?

[2016-09-27 19:02] oxtopus commented on #1104
@rhyolight https://www.youtube.com/watch?v=h4VXRSzeuXY&feature=youtu.be&t=5m13s

[2016-09-27 21:24] rhyolight commented on #1104
@oxtopus What is that, your theme song? 👏

[2016-09-27 23:47] scottpurdy opened #1108 "Registering a region twice should not throw exception"
Currently, attempting to register a region twice causes an exception. This was done to prevent two regions with the same name which is not allowed. But if the same region is registered twice, it will also fail. This is problematic because code that registers a region may not know what other code is running in the process. If some other code also needs the region and registers it then there would b

[2016-09-29 07:02] #1108 closed

[2016-10-05 16:44] rhyolight opened #1117 "py region test failing on OS X in Travis-CI"
See https://travis-ci.org/numenta/nupic.core/jobs/165272346

[code]

[2016-10-05 16:47] rhyolight opened #1118 "osx builds on travis should not use setuptools --user flag"
Something changed recently with OS X environments, and we need to prevent using the --user flag when running setuptools in our build.

See: https://travis-ci.org/numenta/nupic.core/jobs/165073637

[code]

[2016-10-05 16:50] rhyolight commented on #1118
Started experimenting with fixes in https://github.com/numenta/nupic.core/pull/1116. I think I can get a clean PR with a fix, but the build will still fail as long as #1117 is unresolved.

[2016-10-05 16:50] vitaly-krugl commented on #1118
@rhyolight, I've seen a lot of recommendations in favor of virtualenv, which also facilitates `--user`-less python package installations.

[2016-10-05 16:51] rhyolight commented on #1117
Looks like a numpy problem. I am investigating, but help is appreciated if you have a clue.

[2016-10-05 16:52] rhyolight commented on #1118
I think the choice is between my solution in #1116 or using virtualenv to prevent the --user altogether. Opinions @scottpurdy @oxtopus ?

[2016-10-05 18:05] vitaly-krugl commented on #1117
@rhyolight, the error message is the same as there was on Windows in issue #1075 that I addressed via PR #1082.

[2016-10-05 18:20] oxtopus commented on #1118
Personally, I'm a fan of virtualenv, but would only recommend its use in CI if it is also the official recommended and supported option AND that's what we do in our own production deployments.

I'm not convinced we'll reach a consensus on virtualenv across the board, so I suggest #1116 (with my comments in the PR addressed).

[2016-10-05 18:34] rhyolight commented on #1117
@vitaly-krugl that's a good lead, thanks!

[2016-10-05 20:21] #1106 closed

[2016-10-05 20:22] vitaly-krugl commented on #1117
What I was seeing in that case was that `python -c "import numpy.core.multiarray"` would always  succeed, but not when executed through nupic.core->python "thunk".

[2016-10-05 21:35] vitaly-krugl commented on #1014
A user reported running into a similar bug in nupic.core while running hotgym experiment using Debug (error-checking) build of nupic.bindings; see https://discourse.numenta.org/t/sudden-inability-to-run-python-files-in-docker-containers/1470/5.

@rhyolight, these appear to be real bugs in nupic.core with potential side-effects on accuracy and stability)

[2016-10-05 23:12] rhyolight commented on #1014
@scottpurdy Is this something we should prioritize internally?

[2016-10-06 15:04] #1118 closed

[2016-10-06 17:51] rhyolight commented on #1117
@oxtopus said he's seen this happen when there are numpy / matplotlib conflicts, which makes me think perhaps I caused this problem with https://github.com/numenta/nupic.core/commit/d05e30f54944bb13006e9d4d4dad3c3adb82ae6b#diff-6c5f5be6be47ef597733b5be140525d9R101 so I'm removing `--ignore-installed` and rebuilding to see what happens.

[2016-10-06 19:37] rhyolight opened #1121 "Remove build artifacts from old pip --user solution"

[2016-10-06 19:38] scottpurdy commented on #1014
@rhyolight yes probably more of a P2 (def not P1). Isn't there another report somewhere with more conversation on the issue? I can't seem to find it now

[2016-10-06 19:42] rhyolight commented on #1014
@scottpurdy I think [this](https://discourse.numenta.org/t/sudden-inability-to-run-python-files-in-docker-containers/1470) is it. I don't remember seeing anything else.

[2016-10-06 19:59] scottpurdy commented on #1014
@rhyolight yes that's what I was thinking of - thanks!

[2016-10-06 21:15] #1121 closed

[2016-10-06 22:52] rhyolight commented on #1117
That didn't make any sense, just ignore me.

[2016-10-06 22:59] vitaly-krugl commented on #1117
Okay, `--ignore-you`

[2016-10-06 23:22] rhyolight commented on #1117
If only it were that easy.

[2016-10-07 15:20] rhyolight commented on #1117
Still working on this. The Travis-CI OS X feedback loop is very long.

[2016-10-07 15:58] scottpurdy commented on #1014
Simply setting `-DCMAKE_BUILD_TYPE=Debug` when running `cmake` in nupic.core is sufficient to expose this bug. You do not have to explicitly set `-DGLIBCXX_DEBUG`.

@vitaly-krugl - How did you get the debug backtrace? I was trying to reproduce and when I ran the script in gdb it would throw a SIGABRT and lose the backtrace regardless of what breaks I set.

[2016-10-07 18:08] rhyolight opened #1123 "Cleanly remove all linux builds from Travis-CI"
Update travis config, remove all artifacts of linux.

[2016-10-07 19:07] rhyolight commented on #1117
So far I do not have a fix for this yet. I have manually removed an existing numpy (1.11.2) before installing nupic, which comes with a requirement for 1.9.2. I thought perhaps these two were conflicting, but it hasn't helped fix the failing test.

If someone can tell me what is different about the `numpy.core.multiarray` module? Why is this failing here and no other numpy imports are failing anyw

[2016-10-07 23:37] #1123 closed

[2016-10-08 21:43] oxtopus opened #1126 "Travis CI configuration should specify image version"
In investigating OS X Travis builds, I found https://docs.travis-ci.com/user/languages/objective-c/#Supported-Xcode-versions, which lists several different images to be used.  One theory about the current breakage seems to point to recent changes in the travis environment that we haven't been able to track down, exactly.  Once we get a stable OS X build, we should specify the `osx_image` configura

[2016-10-08 21:45] oxtopus commented on #1126
I'm currently investigating at https://github.com/numenta/nupic.core/pull/1125 whether or not reverting to a previous image (at least) temporarily fixes the problem so that we may debug failures offline, preserving the green status of the pipeline.

[2016-10-08 22:09] #1126 closed

[2016-10-08 22:09] rhyolight commented on #1117
fixed by #1125.

[2016-10-08 22:09] #1117 closed

[2016-10-09 21:36] vitaly-krugl commented on #1014
@scottpurdy, I used gdb to examine the core dump and extract the backtrace after the crash. In order to save the core dump, I executed `ulimit -c unlimited` in the terminal prior to running the offending test. The core dump gets written to the current working directory.

[2016-10-10 12:06] rhyolight opened #1128 "Remove software version from iterative artifact file names"
Iterative artifacts have been stored on S3 with the software version in the name of the file. This means any system that wants to fetch an artifact for a SHA not only needs to know the SHA, but also the version of the software, which is redundant and requires inspecting the source
tree to find.

[2016-10-10 13:03] #1128 closed

[2016-10-14 21:57] scottpurdy commented on #1095
People who had this problem:

- http://stackoverflow.com/questions/39552473/undefined-symbols-for-architecture-x86-64-once-i-got-xcode-8 - This seems like a common issue with XCode version changes where people have to add or remove a framework from the search path in order to get linkers working again.

XCode 8 release notes:
https://developer.apple.com/library/content/releasenotes/DeveloperTools/

[2016-10-14 22:20] scottpurdy commented on #1095
It looks to me like the apr object files aren't being included in libnupic_core.a which makes me think it is a problem with the static library merging.

@vitaly-krugl - might be good for you to take a look sometime as you have the most recent experience with this part of the build.

[2016-10-15 00:29] scottpurdy commented on #1095
Here is a potentially relevant part of the output during `make` (with `VERBOSE=1`):

[code]

[2016-10-20 16:13] ywcui1990 opened #1134 "SDRClassifier compute causes segmentation fault"
The segmentation fault happens everytime the classifier compute() function writes more than 2 times to the same ClassifierResult instance.

For example, as in the [unit test](https://github.com/numenta/nupic.core/blob/master/src/test/unit/algorithms/SDRClassifierTest.cpp#L58), adding 2 more computes to the same result will cause not only some assertion errors, but also:

`c.fastCompute(0, input1,

[2016-10-20 16:51] dorinclisu commented on #1134
Also, this happens with both the CLAClassifier and the SDRClassifier, because they write to ClassifierResult in the same way.

[2016-10-20 22:48] rhyolight commented on #1134
@natoromano Are you interested in working on this?

[2016-10-23 10:09] breznak opened #1135 "Document better the new Extended TM parameters apical/basal input dim"
With the new update, I found ETM requires new initialization parameters:
https://github.com/numenta/nupic.core/blob/master/src/nupic/experimental/ExtendedTemporalMemory.hpp#L96

There's no documentation for them, nor reasonable defaults... I searched in examples and tests.
Please provide a better explanation & suggested default values.

[2016-10-26 19:26] #1066 closed

[2016-10-31 02:36] mrcslws opened #1137 "SparseMatrix: Synapse learning requires looping over rows in Python"
Here's an example: https://github.com/numenta/nupic.research/blob/abac7c829454eaa4781f6babf4d6779ce687205e/htmresearch/algorithms/column_pooler.py#L447

These are pretty simple learning rules. This code is very slow, though, because it's doing so much work in Python. If there were a way to express this algorithm in a few SparseMatrix function calls, it would be very fast. The Python code should ne

[2016-10-31 02:39] mrcslws opened #1138 "SparseBinaryMatrix: The (rows, cols) constructor isn't exposed in the bindings"
Example: https://github.com/numenta/nupic.research/blob/abac7c829454eaa4781f6babf4d6779ce687205e/htmresearch/algorithms/column_pooler.py#L136

Rather than specifying the number of rows and columns in the constructor, we specify the number of columns and then resize it. It will be cleaner if we can just expose the [already-existing constructor](https://github.com/numenta/nupic.core/blob/5807f0d3641

[2016-10-31 16:28] rhyolight commented on #1135
@subutai @mrcslws I would like to clarify the line between research and production code. I see there is now an `experimental` folder in nupic.core, but not in nupic.

I can understand why you might do this to do C++ research without adding the make complexity to nupic.research. Is that the case here? If so, I think you should an `experimental/README.txt` that clearly defines this directory as rese

[2016-10-31 16:43] mrcslws commented on #1135
Yeah I agree that the research code could be better separated from the public API.

(FYI there is already a `experimental/README.md`, but maybe it should be longer.)

[2016-10-31 16:56] rhyolight opened #1140 "Upgrade to latest stable numpy"

[2016-11-01 20:14] #1140 closed

[2016-11-01 21:05] rhyolight opened #1143 "Release 0.4.11 for numpy update"

[2016-11-01 23:27] #1143 closed

[2016-11-15 22:44] scottpurdy opened #1149 "Reuse VERSION file in Doxygen"
Currently, the version is specified in both places. The Doxygen file should reuse the VERSION file.

[2016-11-16 23:31] oxtopus commented on #1104
Signal-boosting to @numenta/nupic-committers in case anyone has any opinions.  If not, I'll roll some dice and make them consistent in a followup PR.

[2016-11-16 23:33] oxtopus commented on #1104
@rhyolight here's the mixtape version: https://www.youtube.com/watch?v=4YKlDpX3swI

[2016-11-18 19:47] #1149 closed

[2016-11-19 01:55] #1137 closed

[2016-11-19 01:55] #1138 closed

[2016-11-21 20:49] mrcslws commented on #1095
I think you're right about that last error. These .a files are unreadable under various tools (ar, nm, otool). After running a build, these failures continue occurring. Here are some errors as I run various commands. These errors didn't start occurring until XCode 8:

[code]

I tried installing the XCode 8.2 beta command line tools. It didn't fix it.

[2016-11-22 01:00] dschwartz783 commented on #1095
Worth noting that manually building those libraries from the same source that seems to be failing here, produces libraries that work. This includes libapr, libaprutil, and libz. Once manually compiled, and the resulting libs replace the broken ones, everything works. The tests all pass.

[2016-11-23 00:02] ywcui1990 opened #1155 "Implement & test SP boosting in nupic.core"
Related to: https://github.com/numenta/nupic/issues/3412

This task is to implement the new SP boosting rules in nupic.core. The SP compatibility tests should pass after the SP boosting rules are updated in both nupic and nupic.core

[2016-11-28 23:28] rhyolight opened #1158 "update release docs to include github release creation"

[2016-11-29 01:50] mrcslws opened #1160 "SP getBoostedOverlaps() returns slightly corrupted values"
I fixed this once, but I reverted the fix because I thought "it's not causing any issues" https://github.com/numenta/nupic.core/commit/889f7c38d2850b97227cc6ac843c49922c9e9245

Today I was debugging, and I saw that `getBoostedOverlaps()` was often showing different values for columns that had the same overlaps and boost factors. Eventually I realized that it was because of the issue above. So it i

[2016-11-29 01:55] mrcslws opened #1161 "Enabling NTA_DOUBLE_PRECISION causes some build and runtime errors"
If you add

[code]

to `types.h` (or somewhere else), nupic.core has some build errors, and some of Sparse Matrix bindings quietly do the wrong thing at runtime.

This flag makes all `Real`s become `Real64` (doubles) rather than `Real32` (floats). This is useful when debugging differences between the Python and C++ algorithms.

(Rather than list the errors here, I'll submit a PR which shows the ne

[2016-11-29 22:16] #1160 closed

[2016-11-29 22:16] #1161 closed

[2016-11-30 15:23] fcr commented on #1095
dschwartz783 suggestion didn't work for me.
In the end I reinstalled Xcode 7.2 in addition to Xcode 8.1 using the instructions from http://iosdevelopertips.com/xcode/install-multiple-versions-of-xcode.html
After switching the Xcode command tools to 7.2, cleaning out the script folder, and starting from scratch everything worked.

[2016-11-30 22:25] #1158 closed

[2016-12-01 04:02] #1155 closed

[2016-12-02 15:45] mrcslws opened #1165 "SP Save/load causes duty cycle variations, which cause boost factor variations"
The prototest is failing.

[code]

It works fine for the capnproto `read` / `write`, but it fails for the older `save` /  `load`.

I debugged it, and I saw that serializing and deserializing the SP causes the columns' active duty cycles to start to diverge. Eventually they become large enough to cause a boost factor variation, where some columns have a boost factor of 0.99 and others of 1.01. This

[2016-12-02 17:10] mrcslws commented on #1165
I disabled the save/load part of the test. The write/read part is still running and passing. https://github.com/numenta/nupic.core/commit/8e12f6bc1ba65e76addce21ee6d52e1d719dd0b8

[2016-12-02 23:49] mrcslws opened #1166 "Release 0.4.14 for boosting update"

[2016-12-02 23:50] #1166 closed

[2016-12-05 19:14] ywcui1990 opened #1168 "Change the naming of maxBoost to BoostingStrength in SP"
The parameter name of "maxBoost" controls the boosting strength. It is confusing because it is no longer the maximum boosting value with the new boosting rule. Instead, it is a positive scalar value that controls the slope of the boosting function. The current code is written in a way to ensure backward compatibility, but it can be confusing for future users.

The proposed changes are:

* Change `

[2016-12-07 01:14] mrcslws opened #1169 "There are still boostFactor differences between py and cpp"
In the `SpatialPoolerCompatibilityTest`, `testCompatability2` fails with seed 504.

[2016-12-07 22:32] #1169 closed

[2016-12-07 22:33] mrcslws opened #1171 "Release 0.4.15 for numpy rounding compatibility"

[2016-12-07 22:40] #1171 closed

[2016-12-07 22:54] mrcslws commented on #1165
I found a fix. When we serialize a floating point number, we need to make sure it outputs it at the max precision. By default, it will round the float to a few decimal places.

[code]

If we change `SpatialPooler::save` to do this, the test passes.

[2016-12-08 02:59] #1165 closed

[2016-12-08 06:13] mrcslws opened #1175 "SP: There are still boost factor floating point issues"
With the Spatial Pooler compatibility test, it still fails for some seeds:

[code]

[2016-12-08 06:35] cogmission commented on #1175
@mrcslws I could be wrong but, I really don't think this is as significant as it sounds. There is an arbitrary assumption in this test that the deviation should stay within certain bounds for 10 inference cycles (before the Python values are copied over to the C++ pooler).

In the cases you are experimenting with, the deviation is exceeding the bounds - but I don't believe the true purpose of the

[2016-12-08 21:29] #1175 closed

[2016-12-08 23:27] ywcui1990 opened #1177 "Remove minPctActiveDutyCycles and minActiveDutyCycles from Spatial Pooler"
The parameter `minPctActiveDutyCycles` is used by the old boosting rule. We can eliminate it now with the new boosting rule. The logic to compute and test `minActiveDutyCycles` can also be eliminated since it is only used for the old boosting calculation (as far as I can see).

[2016-12-11 23:40] #1168 closed

[2016-12-11 23:41] #1177 closed

[2016-12-11 23:47] mrcslws opened #1179 "Release 0.4.16"

[2016-12-11 23:48] #1179 closed

[2016-12-17 22:15] mrcslws opened #1184 "We should have a way of using the SparseMatrix with segments"
We don't currently have a way to write fast Python algorithms if the algorithms require variable number of segments per cell. Writing fast Python algorithms requires batch operations, i.e. no looping in Python. Our Connections class supports segments but it doesn't support batch operations. Our SparseMatrix supports batch operations, but we don't have a good way of using it with segments, at least

[2016-12-17 22:37] mrcslws opened #1186 "SparseMatrix methods copy their inputs"
Every single `NumpyVectorT` in [sparse_matrix.i](https://github.com/numenta/nupic.core/blob/5055a73c0a9eb8d3c52051b7f023c75605fabed4/src/nupic/bindings/sparse_matrix.i) is allocating a new vector. So whenever we put the inputs into a NumpyVectorT, we're copying the values, even when the values are already in a numpy array with the correct dtype.

It appears this comment is incorrect: https://githu

[2016-12-17 22:52] mrcslws opened #1188 "SparseMatrix "setRandomZerosOnOuter" should take a list of counts"
Currently `setRandomZerosOnOuter` takes a single "numNewNonZerosPerRow". This is sometimes useful, but sometimes we want to set a different number on a row-by-row basis. Originally I wrote `increaseRowNonZeroCountsOnOuterTo` fills this role, but this doesn't work if you have notions of "active cells" and "winner cells" and you want to decide how many synapses to grow by looking at the active cells

[2016-12-17 23:03] mrcslws opened #1190 "SparseMatrix should allow "rightVecSumAtNZ" with sparse array"
Currently if you have a list of active input bits, the SparseMatrix requires you to put those in a dense array before you can compute the overlaps.

There should be a "rightVecSumAtNZ" method that takes in a list of active input bits. Even if it's not any faster, it would make the API easier to use.

[2016-12-18 00:04] mrcslws opened #1192 "New SparseMatrix increment methods are faster if they densify the columns"
`incrementNonZerosOnOuter` and `incrementNonZerosOnRowsExcludingCols` become faster if you put the selected columns into a dense array first.

[2016-12-19 19:11] scottpurdy opened #1194 "Regions should be allowed to be register multiple times"
If a region is registered with the same name and same region path as before then the exception for a region already being registered should not be thrown. That exception should only be thrown if the region name is already registered but with a different region import path.

[2016-12-19 22:35] #1192 closed

[2016-12-19 22:36] #1190 closed

[2016-12-19 22:37] #1188 closed

[2016-12-21 03:56] mrcslws opened #1195 "SparseMatrix should allow nNonZerosPerRow with a list of rows"
Currently `nNonZerosPerRow` returns the number of nonzeros for every row. There should be another similar API that takes a list of rows and gets their nonzero counts. My current plan is that this will be a new overload of the `nNonZerosPerRow` method.

This enables us to check how many synapses are on a set of segments / cells. We can use this to implement a `maxSynapsesPerSegment` in Python.

[2017-01-10 01:40] #1195 closed

[2017-01-10 16:13] #1072 closed

[2017-01-10 19:24] #1186 closed

[2017-01-11 19:43] vitaly-krugl opened #1198 "Implement capnp serialization of the new Delayed Link feature"
Implement capnp serialization of the new Delayed Link feature; engine/Link.cpp/hpp

[2017-01-11 21:02] #1198 closed

[2017-01-11 22:01] vitaly-krugl opened #1201 "Create nupic.core release 0.5.0"

[2017-01-11 22:02] #1201 closed

[2017-01-12 02:36] vitaly-krugl opened #1203 "Switch version of nupic.core to 0.5.1.dev0 after release of 0.5.0 to PyPi"

[2017-01-12 03:19] vitaly-krugl opened #1205 "Add missing steps in RELEASE.md based on my release experience today"

[2017-01-12 04:49] #1205 closed

[2017-01-12 04:50] #1203 closed

[2017-01-12 23:19] vitaly-krugl commented on #1095
On my El Capitan system with xcode 7.3.1 installed (none are links):
* CMAKE_AR=/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/ar
* which ar: /usr/bin/ar

[2017-01-13 01:49] vitaly-krugl commented on #1095
I think I figured this out. When we extract an archive in order to repackage it, the index is also extracted into a separate file, for example `. __.SYMDEF SORTED`:
[code]

Subsequently, all extracted files are globbed and passed to `ar rcs` for recombining, including the unanticipated index file. Somehow, this produced functional archives with the older command line tools, but is producing corrup

[2017-01-13 05:06] vitaly-krugl commented on #759
Here is another answer: http://stackoverflow.com/questions/4483614/avoid-nothing-known-about-parent-class-error-in-swig

[2017-01-13 18:15] #1095 closed

[2017-01-16 18:46] oxtopus opened #1208 "Improve network introspection (complement issue for NUP-2309)"
Needed to make it possible to give an accurate visualization of a network in Python.

[2017-01-16 19:16] oxtopus opened #1209 "Fixup Travis-CI image to reflect change in Xcode infrastructure"
We're currently specifying `beta-xcode6.1` in the [travis-ci configuration](https://github.com/numenta/nupic.core/blob/master/.travis.yml#L5) which will be retired on 1/20/2017 resulting in the following warnings in travis:

[2017-01-17 18:24] #1209 closed

[2017-01-18 02:15] scottpurdy opened #1212 "Region dimensions inference seems to have a bug"
https://github.com/numenta/nupic.core/blob/7139b84a8fcd957822252e74345e3ce86a89a229/src/nupic/engine/Input.cpp#L228

The link referenced appears to be incorrect. I believe that it should mirror the following code that gets the new dimensions after they are set:

https://github.com/numenta/nupic.core/blob/7139b84a8fcd957822252e74345e3ce86a89a229/src/nupic/engine/Input.cpp#L412

[2017-01-18 05:27] #1208 closed

[2017-01-18 18:23] #1184 closed

[2017-01-18 23:59] #1212 closed

[2017-01-19 17:15] oxtopus commented on #1088
@rhyolight feel free to reopen if you disagree, but I think this issue is outdated.

[2017-01-19 17:15] #1088 closed

[2017-01-24 17:49] vitaly-krugl opened #1217 "Have nupic.core build output a shared library artifact instead of the static lib"
Currently, nupic_core_solo is a static library and gets repackaged with the external dependencies into a combined static library that the binaries and Python extensions link to.

This change is to:

- Remove the combined nupic_core static library
- Change nupic_core_solo to a shared library and include the external dependencies for linking
- Change the extensions to dynamically link to the nupic_c

[2017-01-26 17:46] scottpurdy opened #1219 "Investigate Circle CI as alternative to Travis for OS X"
Travis is very slow to pick up queued OS X jobs, let's see if Circle is a suitable alternative.

[2017-01-26 20:35] #1219 closed

[2017-02-11 05:15] mrcslws opened #1224 "TM perf: Densify prevActiveCells so that we don't repeatedly binary search"
This is low hanging fruit. It will give us a nice speed boost in the TM.

[2017-02-13 19:22] mrcslws opened #1226 "TM: Make "checkInputs" configurable as an optional perf boost"
I described this here: https://github.com/numenta/nupic/issues/3277

Currently the TM always checks that the inputs are sorted without duplicates. This should be configurable by a parameter that defaults to true. Then anyone is free to speed up their code by disabling this check.

[2017-02-13 19:27] mrcslws opened #1228 "The ETM proto is still in nupic.core"
[This](https://github.com/numenta/nupic.core/blob/41b6353683502a207730bb7c4c7347319019ebd3/src/nupic/proto/ExtendedTemporalMemoryProto.capnp) should only be in nupic.research.core. Not in nupic.core.

[2017-02-13 22:30] #1228 closed

[2017-02-13 23:03] #1224 closed

[2017-02-14 09:45] breznak opened #1230 "nupic.bindings fails to run due to "capnp schema requires usable RawSchema""
I'm transferring a nupic bug https://github.com/numenta/nupic/issues/3457 here.
Maybe related #822

Symptoms:
Both binary stable (0.4.13 for nupic release), master (0.5.1) and source builds fail with
`nupic/bindings/_math.so: undefined symbol: _ZNK5capnp6Schema15requireUsableAsEPKNS_1_9RawSchemaE`

Steps to reproduce:
- install nupic.core (binary or source), run `nupic-bindings-check`

Output:
[co

[2017-02-14 10:19] breznak commented on #1230
So I'm testing the source build with cmake, disabled the `NUPIC_BUILD_PYEXT_MODULES`, but still I'm getting failure during compilation here (running the cmake command from Readme)

[code]

1. Why is this failure not present in `python setup.py build` ?
2. Seems building/linking our own capnp install from source does not work during the build as intended. Is the option with system installation of c

[2017-02-14 19:02] vitaly-krugl commented on #1230
Hi @breznak, if this new issue is meant to replace https://github.com/numenta/nupic/issues/3457, is it okay to close https://github.com/numenta/nupic/issues/3457?

[2017-02-14 20:42] vitaly-krugl commented on #1230
@breznak, @rhyolight
cc @scottpurdy

I just built nupic.bindings from nupic.core master on Ubuntu 16.04 in VirtualBox without any problems.

[code]

[2017-02-14 21:06] vitaly-krugl commented on #1230
@breznak - perhaps you had a different version of pycapnp installed on your system (or multiple, conflicting versions)? I am not sure what else it could be, but I am not having any of those issues.

[2017-02-15 07:00] breznak commented on #1230
Thank you very much for taking your time and going through the whole install, @vitaly-krugl !

One difference I found, I had `python-pip-whl` installed, not `python-pip`, which pulled some more dependencies.
I went through all the steps above, uninstalled and reinstalled everything, even the versions match.

Install goes fine, tests fail again - there's some problem with the extensions.

[code]

I

[2017-02-15 11:19] breznak commented on #1230
Ok, so I made some progress!
I can install and run (binary) nupic.bindings under a different user, on the same system.
So where could be a problem? The PYTHON_PATH? Is there any other user settings which I could check? (I'm using virtualenv and clean install for both tests)

[2017-02-15 16:23] arhik opened #1232 "typo in CHANGELOG.md 'maxBoost' -> 'boostStrength'"
`maxBoost` should be `boostStrength`.... but mentioned as `boostingStrength`.

[2017-02-15 19:16] vitaly-krugl commented on #1230
@breznak, thanks for the updates. _math.so most likely expects the symbol `_ZNK5capnp6Schema15requireUsableAsEPKNS_1_9RawSchemaE` to be provided by pycapnp's capnp.so. Each of the nupic.bindings .so modules has a python wrapper that preloads that capnp.so to provide the necessary symbols. I suspect that the wrong capnp.so is getting preloaded or is silently failing to load in the failing case.

In

[2017-02-15 19:20] vitaly-krugl commented on #1230
I didn't modify `PYTHON_PATH` on my Ubuntu 16.04 installation, which uses system python.

[2017-02-16 11:49] breznak commented on #1230
Thank you, did the debugging you suggested, all seems ok:
[code]

And the capnp.so file really exists:
[code]

Running `nupic-bindings-check` gets this debug and still produces the error.

...What I came with as a workaround, the new user (can run binary nupic.bindings) - can also build nupic.core just fine. So I blame it on some f** paths in my default user. And will investigate further.
Thank yo

[2017-02-16 11:49] #1230 closed

[2017-02-16 16:19] rhyolight commented on #1230
Thanks @vitaly-krugl for helping!

![gold star](http://www.mememaker.net/static/images/memes/4530113.jpg)

[2017-02-17 01:50] vitaly-krugl commented on #1230
Glad to be of service :)

[2017-02-21 21:28] oxtopus opened #1234 "Address license check language in comments"
https://github.com/numenta/nupic.core/blob/master/src/nupic/engine/NuPIC.cpp#L26 and https://github.com/numenta/nupic.core/blob/master/src/nupic/engine/NuPIC.cpp#L53 reference forthcoming license check logic.  Remove the comments or clarify future plans.

[2017-02-22 06:29] scottpurdy opened #1235 "Incremental builds don't regenerate generated SWIG code when needed"
The SWIG generated code is only regenerated when the interface file changes but it also needs to be regenerated when its C++ header includes are changed.

[2017-02-27 01:12] vitaly-krugl commented on #1014
Here is the root cause: referring to the code snippet below... first, the for-loop collects inactive synapse indices into `inactiveSegmentIndices`. Then, `segment.updateSynapses` updates permanences, and also deletes synapses whose permanence drops to or below zero. If deletion of synapses occurs in `segment.updateSynapses`, then the values in `inactiveSegmentIndices` become invalid (as do the val

[2017-02-27 19:15] #1235 closed

[2017-02-28 19:25] oxtopus commented on #878
Have you any thoughts on removing the `PyRegion::initialize()` implementation entirely from the c++ code and instead extend `PyRegion` in the swig bindings?

A few reasons why you might consider this option:

0. All `PyRegion::initialize()` does is build up the dims and splitter map arguments before continuing with the initialization in a lower-level api
0. Moving the code to the swig bindings wou

[2017-02-28 19:43] scottpurdy commented on #878
That makes sense to me. We can include the Python `PyRegion` when moving Python wrappers for different engine classes (NUP-2330).

[2017-02-28 23:09] oxtopus commented on #878
re:

Now that networks have a first-class `getLinks()` API, we can probably accomplish what we want without having to rely on the arguments passed to `network.initialize()`.

To that end, I propose to resolve this specific issue:

0. Reimplement the `PyRegion.initialize()` abstract method as:

[code]
0. Remove the logic in PyRegion.cpp that passes `dims` and `splitterMaps`
0. Separately, address t

[2017-03-02 11:52] breznak commented on #1096
Bump. Is anyone linking their 3rd party (cmake based) app to nupic.core?

Ok, an update, we probably shouldn't write our own `FindXXX.cmake`

But, instead just create a `package config`
https://cmake.org/Wiki/CMake/Tutorials/Packaging
https://cmake.org/Wiki/CMake/Tutorials/How_to_create_a_ProjectConfig.cmake_file

[2017-03-02 17:26] #1014 closed

[2017-03-07 01:46] #1232 closed

[2017-03-07 02:11] vitaly-krugl opened #1241 "Create release 0.5.2"
* Added comment explaining the nuance of the static variables in Cells4::adaptSegment
* Improved explanation of containers in Cells4::adaptSegment implementation.
* Regenerate SWIG bindings C++ files if any headers change.
* Enable -D_LIBCPP_DEBUG=0 for debug-lite in Clang builds (e.g., OS X). NOTE: Clan't debug mode is not mature, and anything above level 0 appears to require de
bug build of libc

[2017-03-07 02:14] #1241 closed

[2017-03-07 20:02] rhyolight opened #1243 "Update doc build to use breathe/sphinx"

[2017-03-07 21:09] #1243 closed

[2017-03-08 17:01] rhyolight opened #1247 "fix broken unit tests because of bad doc commit"

[2017-03-08 17:12] rhyolight opened #1248 "use VERSION to build docs"

[2017-03-08 17:15] #1247 closed

[2017-03-08 20:08] #1248 closed

[2017-03-09 22:45] rhyolight commented on #1234
Those comments are leftover from before we switched to AGPL and can be removed.

[2017-03-09 23:25] scottpurdy opened #1250 "Bring tests over from nupic for cells4, svm"
There are nupic.bindings-specific tests still in nupic that should be moved into this repo

[2017-03-09 23:41] rhyolight commented on #1096
Thanks for the update. No one is currently planning on working on this at the moment.

[2017-03-10 00:58] #1250 closed

[2017-03-14 19:49] mrcslws opened #1254 "Segments should be integers so we can store them in numpy arrays"
From Python if you call `tm.getActiveSegments()`, you get a tuple of Segment structs. Instead, this should return a numpy array of integers. That would allow us to pass this list of segments back into C APIs, e.g. into a `mapSegmentsToCells` method.

To do this, we should change the `Connections` to stop having a `Segment` struct. That struct is currently just a wrapper around an integer anyway.

[2017-03-17 22:53] #1254 closed

[2017-03-20 16:43] scottpurdy commented on #878
@oxtopus - So in your proposal, how do you get access to inputs & outputs during initialization?

[2017-03-20 16:44] oxtopus commented on #878
With `network.getLinks()`?

[2017-03-20 22:47] oxtopus commented on #878
#'s 0-1 are addressed in https://github.com/numenta/nupic/pull/3494 and https://github.com/numenta/nupic.core/pull/1256

Will work on #2 separately.

[2017-03-21 17:14] #878 closed

[2017-03-21 22:45] scottpurdy opened #1260 "Travis is uploading to PyPI"
Bamboo should be doing all of the deployment but it looks like Travis is still uploading some artifacts to PyPI.

[2017-03-22 00:10] #1260 closed

[2017-03-29 23:25] mrcslws opened #1262 "SparseMatrix feature request: nNonZerosPerRowOnCols"
When calculating the number of synapses to grow on each cell, it's useful to be able to check how many synapses this cell already has **to a particular SDR**. If we had a `nNonZerosPerRowOnCols` method, we could do this and it would be fast.

[2017-03-30 19:20] #1234 closed

[2017-03-30 19:53] #1262 closed

[2017-04-01 02:31] vitaly-krugl opened #1266 "Network delayed links shouldn't expose delayed values until end of run"
If you have two regions with circular links, each link with delay=1, then the values written by either region at time `t` should not be visible to the other region until time `t+1`, regardless of the phases of the regions in the network.

Currently, it looks like the delay is relative to the phase of the region.

See discussion here:
https://github.com/numenta/nupic.research/pull/707/files/b40d8c7

[2017-04-04 10:01] breznak opened #1267 "Port Anomaly Likelihood code from Python"

[2017-04-04 22:19] vitaly-krugl opened #1269 "Eliminate installation of unnecessary header files when building nupic.bindings"
Presently, the build installs a huge number of header files at the end of the build, even when building nupic.bindings (python extensions). This pollutes the build output log with unnecessary data to scroll through.

[2017-04-04 22:26] mrcslws commented on #314
This has been finished for a while. (The compatibility tests pass.)

[2017-04-04 22:26] #314 closed

[2017-04-04 22:30] mrcslws commented on #419
We run the same "extensive" TM tests on both implementations (see `extensive*.py` [here](https://github.com/numenta/nupic/tree/a44de10db4de9ffec23647854a2213d0644d12bd/tests/integration/nupic/algorithms)). Each implementation has its own dedicated set of unit tests (one set written in c++, the other in Python) and these sets are essentially identical.

[2017-04-04 22:30] #419 closed

[2017-04-05 00:11] scottpurdy opened #1271 "IWYU build option no longer works"
😠

Setting `-DNUPIC_IWYU=ON` causes the build to fail.

[2017-04-05 00:36] #1269 closed

[2017-04-05 17:43] vitaly-krugl opened #1272 "Un-suppress installation of Version.hpp when building nupic.bindings"
PR #1270 (issue #1269) suppressed unnecessary copying of a large number of header files, including `build/release/include/nupic/Version.hpp` that https://github.com/numenta/nupic.core/blob/8e465b149c456ffb9a4f3a237dfc2104c8b6414b/.travis.yml#L34 depends on.

[2017-04-05 18:52] #1272 closed

[2017-04-05 20:07] #1266 closed

[2017-04-05 20:31] mrcslws opened #1274 "Release 0.6.1"

[2017-04-05 20:48] #1274 closed

[2017-04-11 10:38] breznak opened #1276 "Add implementation of utils::SlidingWindow / Circular buffer"
I'm considering implementing a `sliding window` / `circular buffer` in c++.

It would simplify `MovingAverage` from #867 and I will use it in #1268 . I also recall some activity on replacing a code for CircularBuffer class used somewhere here.

Any advises for the implementation?
- should it be templated?
- vector vs. deque,...?

[2017-04-11 15:25] rhyolight commented on #1276
@mrcslws Can you comment on this initiative?

[2017-04-11 15:39] breznak commented on #1276
I found `boost::circular_buffer` to be used in the codebase. So that raises question of suitability for this proposed PR. On the other hand, the boost's implementation misses some syntactic sugar - so it cannot be used directly as well.

Maybe `SlidingWindow` could internally use boost::circular_buffer..?

[2017-04-11 19:32] Thanh-Binh commented on #1276
I think we should not use BIG boost lib for only a small utils like circular buffer!

[2017-04-11 20:23] breznak commented on #1276
That would be true, but `boost` is already included and used in nupic.core (I think we only include the header files, though)

[2017-04-11 20:27] breznak commented on #1276
The alternative implementation using `boost::circular_buffer` has the following disadvantages:
 - includes boost::circular_buffer (the header is already used in the repo)
 - needs custom function to handle "getData()", you can see [what I'm talking about](https://github.com/numenta/nupic.core/pull/1268/files#diff-12bf593b418cafa094361bc65989936fR580)

What do you think?
CC @mrcslws @scottpurdy

[2017-04-12 05:12] manahnmed opened #1278 "nupic.bindings package not able to install on linux , need a quick help"
Hi Guys,

pip install -U root nupic.bindings-0.6.1-cp27-cp27mu-manylinux1_x86_64.whl
pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
nupic.bindings-0.6.1-cp27-cp27mu-manylinux1_x86_64.whl is not a supported wheel on this platform.

Need a quick resolution , please help me out

[2017-04-12 13:49] rhyolight commented on #1278
What happens when you run `pip install nupic.bindings`?

[2017-04-13 10:44] breznak commented on #1278
you could always downlod the binary (somewhere?) and install locally from the file

[2017-04-13 10:55] breznak opened #1279 "Refactor Topology and speed up SP"
The `Wrapping/Neighbourhood` classes in `math/Topology` share huge amount of code, and would benefit from:

- [ ] extend from a common ancestor (Neighbourhood)
- [ ] remove the duplicit code
- [ ] optimize its use in SP *) see below

In SP, we often see a suboptimal situation with an `if` inside a `for` loop, like this:
[code]

We can store a reference to the desired class during init:
[code]
and

[2017-04-13 14:25] mrcslws commented on #1279
This code is designed to be fast. It avoids using virtual methods in the "inner loop" code. The solution you've suggested would need to use virtual methods. For every iteration of `v: Neighborhood` it would check the vtable on the Neighborhood instance. In other words, we'd be sacrificing runtime performance to make the code cleaner (which, at the core, is what runtime polymorphism does). Sometime

[2017-04-14 11:18] manahnmed commented on #1278
Can you please share me the link to download binary for linux platform

On Thu, Apr 13, 2017 at 4:14 PM, breznak <notifications@github.com> wrote:

--
With Thanks and Regards

[2017-04-14 11:20] manahnmed commented on #1278
Hi rhyolight,

      Since there is no outbound access on this machines , "pip install nupic.bindings" throws back a messages telling , its not able to reach the repository.

[2017-04-14 13:45] rhyolight commented on #1278
@manahnmed you can download the bindings binaries [from pypi](https://pypi.python.org/pypi/nupic.bindings). But you might need internet access to fully install dependencies.

[2017-04-18 08:46] breznak commented on #1279
Thanks for explanation of the purpose. On the other hand, you have an extra `if` in the current implementation (and the `wrapAround_` wasn't defined const), I'm wondering if the compilers cannot optimize at least to the current level with the proposed solution.

Have you tried with the discussed approach? If not, I'll be willing to put it to a test.

[2017-04-18 14:04] breznak opened #1280 "Broken build with PY modules disabled (-DNUPIC_BUILD_PYEXT_MODULES=OFF)"
This option is described by readme (and seems useful), but currently does not work:

Build output:
[code]

[2017-04-21 08:13] Thanh-Binh opened #1281 "some installation problems with nupic.core"
after building the current version of nupic.core, we do normally
make install

By the new version, we have the following issues:
1. the header files in the subfolders of in the src/nupic/ are not copied into $NUPIC_CORE/build/release/include/nupic
2. if I copy them manually, all files like *.capnp.h are missing etc.
3. all the ThirdParty include and lib are not copied into the release folder

Is t

[2017-04-21 09:36] Thanh-Binh commented on #1280
@breznak Did you solve this problem? I have the same problem too...

[2017-04-21 09:44] breznak commented on #1280
@Thanh-Binh no. A workaround is to keep the  ..MODULES=ON

[2017-04-21 10:27] Thanh-Binh commented on #1280
@breznak thanks...

[2017-04-21 10:44] Thanh-Binh opened #1282 "getMatchingCells() does not exist in TM??"
In the current version, this member function is removed by @mrcslws sometimes ago.
@mrcslws :
- Could you please explain me the reason for that remove?
- how can I get a comparable function like that?
Thanks

[2017-04-21 15:29] mrcslws commented on #1282
Can you explain why you need it?

There's no notion of "matching cells" in the Temporal Memory algorithm. When learning in a bursting column, if any existing segments are a partial match, we'll learn on that segment rather than growing a new one. These partial matches are termed "matching segments".

If you want a list of cells that have matching segments, you can call tm.connections.mapSegmentsTo

[2017-04-21 17:56] Thanh-Binh commented on #1282
@mrcslws thank for you explain. In the meantime, next to  our proposed solution, i found also a Class SegmentMatrixAdapter, what has a member function mapSegmentsToCells(). Do you think that function does the same thing?

[2017-04-21 18:14] mrcslws commented on #1282
That's a method on a different class. The `TemporalMemory` uses the `Connections`, not a `SegmentMatrixAdapter<SparseMatrix>`, so you'll be calling into the method on the `Connections` https://github.com/numenta/nupic.core/blob/c117fbe3aa1b0ad49607a6854835f7351b954ef7/src/nupic/algorithms/Connections.cpp#L290

Yes, they do the same thing, but for different classes.

[2017-04-21 18:22] Thanh-Binh commented on #1282
Understanding and best thanks, so i can close this issue

[2017-04-21 18:22] #1282 closed

[2017-04-23 08:19] Thanh-Binh opened #1283 "build error under windows using VS2015"
By building the current version with VS2015 I have found the following problems:
1. in SparseMatrix, SparseBinaryMatrix please do NOT use
using Serializable::write;
using Serializable::read;
I remember, I have discussed with @rcrowder last year, but it is not fixed.

2. In Topology.cpp, it is not allowed to use std::max() for special data type of nupic.
For example in the line 101
offset_[i] = std

[2017-04-23 12:07] Thanh-Binh commented on #1267
I observed the raw anomaly scores and anomaly likelihood, and found that
1. the value of the anomaly likelihood changes into another direction. I think the correct value should be:
(1 - current_anomaly_likelihood).
2. I do not know why the value of the anomaly likelihood always begins at 0.5, I expected a starting value of 1 by the first data and will be decreased to zero...

What do you think?

[2017-04-23 12:36] breznak commented on #1267
Thanks for the testing, @Thanh-Binh !

(1 - current_anomaly_likelihood).

I will check that, but you are correct, the use is (1 - what `anomalyProbabilities()` returns)

No, this is a correct behavior. Value 0.5 means "we don't know", while 1 would mean "this is an anomaly". The code has a parametrized burn-in period (500 from top of my head) for which it always returns 0.5. After that we have eno

[2017-04-23 12:54] Thanh-Binh commented on #1267
OK for the value of 0.5...

[2017-04-24 19:23] #1279 closed

[2017-04-24 19:29] rhyolight commented on #1281
@Thanh-Binh Thanks for the report. I see the same behavior on my system, but it does not prevent me from running nupic.core with nupic. Is this causing some problem for your runtime? Our system has been created so that `pip install nupic` will install `nupic.bindings` as a proper python module. But we have not paid so much attention to the C++ side of things.

[2017-04-24 19:30] rhyolight commented on #1280
Is this related to #1281? Seems like you guys are compiling to use C++ programs. Since we don't normally exercise that option, you might be uncovering issues that need fixing.

[2017-04-24 19:35] rhyolight commented on #1283
We build `nupic.core` on Windows in [AppVeyor](https://ci.appveyor.com/project/numenta-ci/nupic-core/build/0.3.0.2006). But we [do not build it on VisualStudio](https://ci.appveyor.com/project/numenta-ci/nupic-core/build/0.3.0.2006).  I'm sorry I don't know how to fix this problem, and we probably won't work on it anytime soon because there is so much going on in research.

[2017-04-24 19:41] Thanh-Binh commented on #1281
@rhyolight yes it is only problem with c++, but we did not have it before. I think it is not so difficult to insert some lines into cmake for solving it

[2017-04-24 19:42] Thanh-Binh commented on #1280
I think  yes

[2017-04-24 19:48] breznak commented on #1280
Matt, I don't think it's related.
And yes, I ran into it when compiling only the c++, so I wanted to save time (linking) the project.

[2017-04-24 19:52] Thanh-Binh commented on #1283
@rhyolight i have already suggested solution for each problem, but i need someone to review and update in the repository. I have tested in windowswith vs2015 and ubuntu

[2017-04-24 19:59] rhyolight commented on #1281
Maybe @vitaly-krugl would know a quick fix?

[2017-04-24 20:01] rhyolight commented on #1280
Again, maybe @vitaly-krugl knows a simple fix. 🤞

[2017-04-24 20:03] rhyolight commented on #1283
@Thanh-Binh Why don't you create a pull request with your changes, and uncomment [these lines](https://github.com/numenta/nupic.core/blob/master/appveyor.yml#L61-L67). If it works, it should pass in AppVeyor.

[2017-04-25 19:46] Thanh-Binh commented on #1283
@rhyolight i will do that soon...

[2017-04-28 16:54] vitaly-krugl commented on #408
@scottpurdy and @rhyolight , `TemporalMemory::write` and `TemporalMemory::read` appear to be implemented and there is prerequisite wiring in algorithms.i. What else needs to be done before closing this issue?

[2017-04-28 16:56] vitaly-krugl commented on #425
@david-ragazzi, shouldn't this issue be filed in the nupic repot, since it concerns TP.py in nupic? Please clarify why it's here. Thx!

[2017-04-28 16:56] vitaly-krugl commented on #822
@scottpurdy, we're probably not going to do this now. Should this issue be closed?

[2017-04-28 17:00] vitaly-krugl commented on #1280
@rhyolight, again, I think you're 👍

[2017-04-28 17:03] vitaly-krugl commented on #1280
An example of the fix is here: https://github.com/vitaly-krugl/capnpfix-prototype/blob/f09f4137204a5d31a078ff4db0a63cafb83efc1c/src/CombineUnixArchives.cmake#L95-L105

I will be incorporating that fix into PR #1285

[2017-04-28 17:05] #822 closed

[2017-04-28 17:06] #408 closed

[2017-04-28 17:10] vitaly-krugl opened #1286 "Fix NuPIC capnproto failure: two different compiled-in type have the same type ID"
Chetan first ran into this while trying to implement capnp serialization here: https://github.com/numenta/nupic/pull/2944. This nupic PR pairs with nupic.core commit 7de0c59.

This task is to verify whether the problem still exists in the current nupic + nupic.core and propose a solution.

[code]

The problem was that a dynamic capnp schema object with the same ID was being registered with a share

[2017-04-29 03:01] vitaly-krugl commented on #1280
Being fixed via https://github.com/vitaly-krugl/nupic.core/commit/6b64888208153b8415c8901aa41d4a06e0cbe7f8#diff-fd0a4d388f24de2b677951377c854643

[2017-05-02 05:22] mrcslws commented on #1276
I responded on the PR: https://github.com/numenta/nupic.core/pull/1277

[2017-05-02 21:40] MedSolve commented on #1134
@rhyolight is this something that is currently being worked on?

[2017-05-02 22:17] rhyolight commented on #1134
@MedSolve I don't think anyone is working on this right now.

[2017-05-02 22:49] MedSolve commented on #1134
I found the course of my problem. I need to classify between 25.000 different classes and this results in high bucketIdx that in return makes everything crash.

[2017-05-03 05:13] #1280 closed

[2017-05-03 05:13] #1286 closed

[2017-05-03 20:36] vitaly-krugl commented on #1281
@rhyolight @Thanh-Binh, when building nupic.bindings (`-DNUPIC_BUILD_PYEXT_MODULES=ON`), we intentionally skip copying a bunch of unnecessary headers, since nupic.bindings don't need them, and it pollutes our logs, etc. If you are after the nupic_core.a archive, then configure with `-DNUPIC_BUILD_PYEXT_MODULES=OFF` to get the header files as before. I recently fixed the issue that was preventing `

[2017-05-03 20:36] #1281 closed

[2017-05-09 13:04] Thanh-Binh opened #1288 "need understanding cellsToColumnsSparse() in VectorHelpers.cpp?"
What I really do not understand, why activeColumns is a set instead of vector?
From my understanding now, we can rewrite this function as follows:

[code]

What do you think?

* * *

The original function looks like:

[code]

[2017-05-09 19:03] rhyolight commented on #1288
@mrcslws can you answer?

[2017-05-09 19:45] mrcslws commented on #1288
Where is VectorHelpers.cpp? I'm not sure where you're pasting this code from.

The reason to use a `set` would be because otherwise the output might contain duplicates.

This code is weird... why does it do `act -1`? In this code are the `activeCells` 1-indexed instead of 0-indexed? Otherwise this seems like a bug. But again, this code isn't currently part of nupic.core...

[2017-05-09 20:15] Thanh-Binh commented on #1288
It is in the subfolder utils from @breznak !
@breznak could you please explain it somehow?

[2017-05-09 20:22] rhyolight commented on #1288
Ah, so @Thanh-Binh you are commenting about code that is not in the main repo. I'm going to close this and you guys can have a conversation about this on HTM forum.

[2017-05-09 20:22] #1288 closed

[2017-05-09 20:56] vitaly-krugl opened #1290 "Reduce memory footprint impact of the new capnp byte buffer passing scheme between Python and C++"

[2017-05-09 21:33] breznak commented on #1288
Yes, this is some older code from a PR that wasn't merged.

@mrcslws But I'd like to have a question on the topic: Can you ask TM for active (active&predicted) columns? Since the SDR is about columns, but I see only methods to get active cells (?) That was a motivation of the referenced method `cellsToColumns()`

[2017-05-09 22:43] mrcslws commented on #1288
No, the TM doesn't store the active columns, since it receives them as input, so the caller already knows the active columns. It doesn't offer a `cellsToColumns` method because:

1. Callers can implement it just as easily -- just divide the cells by `tm.getCellsPerColumn()`. Even Python callers can do this with numpy arrays.
2. Different callers have different expectations. Some callers would pref

[2017-05-09 22:51] #1290 closed

[2017-05-09 22:56] breznak commented on #1288
Thank you, that makes sense now!

[2017-05-10 21:44] oxtopus opened #1293 "Bundled swig version is old"
We're on 3.0.2 which was released in 2014.

[2017-05-11 02:19] mrcslws opened #1294 "On Py_True and Py_False we call DECREF but not INCREF"
The `py::Bool` class destructor calls `Py_XDECREF` via `py::Ptr`: https://github.com/numenta/nupic.core/blob/5bd0bac33d900da6dd0b964e40db3fafecf8d4b4/src/nupic/py_support/PyHelpers.cpp#L143

But it never calls `Py_XINCREF`. When I created `py::Bool` ([over a year ago](https://github.com/numenta/nupic.core/pull/872)) I copied the code for other scalars, which also never call `Py_XINCREF`. They don'

[2017-05-11 06:13] #1294 closed

[2017-05-11 13:48] breznak opened #1296 "Readme: why is pycapnp separate from requirements.txt?"
The readme states:

pip install pycapnp==0.5.8

Why cannot pycapnp be already included in the requirements?

[2017-05-11 14:01] breznak opened #1297 "Update numpy dependency to 1.12.1"
Inspired by #1293

Currently on `1.11.2`, the `1.12.1` is available.
Changelog for 1.12: https://github.com/numpy/numpy/blob/master/doc/release/1.12.0-notes.rst
And then there's a point release.

This is the latest version on `pypi`

[2017-05-11 14:10] breznak opened #1299 "Update pytest"
and related projects
- pytest
- pytest-xtests
- pytest-cov

[2017-05-11 14:11] breznak commented on #1299
Related to updates round  #1293

[2017-05-11 14:13] rhyolight commented on #1296
@scottpurdy Can you answer this? I can't remember.

[2017-05-11 14:23] breznak commented on #1296
Actually, it's already in requirements, I have a commit to remove the line from readme.

[2017-05-11 14:26] breznak opened #1301 "Update pycapnp to 0.5.12"
..you knew it was coming :wink:

Update pycapnp to the latest version.

[2017-05-11 14:28] breznak commented on #1301
For the record, I was getting a cryptic error when trying to install pycapnp:

[code]

And it was caused by my temp dir (`/tmp/`) being mounted with `noexec`.

[2017-05-11 14:44] mrcslws opened #1303 "On py::Bool, the PyObject* constructor shouldn't do an INCREF"
The original change in https://github.com/numenta/nupic.core/pull/1295 was good, but then I made an incorrect change before merging: https://github.com/numenta/nupic.core/pull/1295/commits/2a432cdcf8f2e5fa02b07a4f5fd2253f214ede2e

Now when you call `getParameter` with a bool, it increments the reference count.

[code]

When constructing from a PyObject*, these PyHelpers classes assume that the PyO

[2017-05-11 15:40] #1296 closed

[2017-05-11 16:12] #1301 closed

[2017-05-11 16:28] #1299 closed

[2017-05-11 16:40] #1303 closed

[2017-05-11 22:13] #1271 closed

[2017-05-15 22:15] rhyolight opened #1306 "Update PyRegion RST docstrings"

[2017-05-16 00:29] #1306 closed

[2017-05-17 14:20] breznak opened #1308 "Fix compilation with clang 4.x compiler - capnp error"
I'd like to compile our codebase with `clang++ 4.0` which is the latest stable release now.

The code fails on an error in `capnp` dependency:
[code]

This is a known error already fixed upstream:
https://github.com/sandstorm-io/capnproto/issues/433

It should be fixed in `0.5.3.1` release, latest current stable is `0.6`. We use `pycapnp` 0.5.12 from pypi that should ship with capnp 0.5.3.1.

But

[2017-05-17 22:22] scottpurdy commented on #424
Closing as we have no plans to implement this.

[2017-05-17 22:22] #424 closed

[2017-05-17 22:26] scottpurdy commented on #425
I believe this is implemented:

- https://github.com/numenta/nupic.core/blob/9a2a73826efd0183b48bbea19eec240023542881/src/nupic/algorithms/TemporalMemory.hpp#L379
- https://github.com/numenta/nupic/blob/6ce2f6fc3634529e5d0476c74d1e2084db51bd23/src/nupic/algorithms/temporal_memory.py#L1003

[2017-05-17 22:26] #425 closed

[2017-05-20 14:25] breznak commented on #1267
I have a question how to handle the `reset` flag (as in TM etc)
- anomaly raw is stateless, so it's a non-issue there
- in likelihood, should we react to the `R` flag in data (then TM calls `reset()`) ?
  - we could clear all the `running*Anomalies` buffers
    - but that could interfere with the "burn-in" `probationaryPeriod`, so we may never output real anomaly during the sequence (always return

[2017-05-22 15:46] rhyolight opened #1315 "Fix bad link in README"
reported in https://discourse.numenta.org/t/bad-links/2334/4?u=rhyolight

[2017-05-22 20:54] #1315 closed

[2017-05-22 22:19] breznak opened #1317 "Fails to compile with GCC 6.x"
Testing the latest & greatest gcc compiler, I run into some issues.

- about the use of `NTA_CHECK(..) << "msg"` macro:
[code]

Looks like we'll have to rewrite these macros

[2017-05-22 22:34] vitaly-krugl commented on #1317
I think this makes sense. We generally don't want the possibility of an exception within the scope of a destructor. Good read on the subject: http://bin-login.name/ftp/pub/docs/programming_languages/cpp/cffective_cpp/MEC/MI11_FR.HTM

[2017-05-22 22:52] breznak commented on #1317
So, how do we do it? Compile with `Wno-error=terminate`? Or better yet something like `#pragma push` to silence it only for the NTA_CHECK/ASSERT macros?

[2017-05-22 23:07] vitaly-krugl commented on #1317
We should have a common approach for all C++ destructors. Effective C++ talks about two problems concerning exceptions in destructors:
1. terminate in case exception from a destructor flows to another destructor in higher scope
2. incomplete destruction/release of resources in case of exception in destructor

I think that we should either avoid using anything in a destructor that could raise an ex

[2017-05-22 23:58] #1297 closed

[2017-05-23 08:42] breznak opened #1319 "Upgrade to new YAML-cpp API (old v0.3.0 holds back yaml, yaml-cpp)"
It shouldn't be that complicated,
our only file using yaml-cpp is
`nupic/engine/Network.cpp`

Here is how the old (our current) API works:
https://github.com/jbeder/yaml-cpp/wiki/How-To-Parse-A-Document-(Old-API)

And here is a tutorial for the recent API
https://github.com/jbeder/yaml-cpp/wiki/Tutorial

According to this we should be able to move to the newer API and upgrade both `yaml-cpp` and `

[2017-05-23 17:58] rhyolight commented on #1267
I don't think resets in the TM should affect the anomaly likelihood calculation.

[2017-05-23 19:05] Thanh-Binh commented on #1267
That's why i proposed to add 'reset' function to Anomaly class for clear buffers of anomaly likelihood.

[2017-05-23 21:48] rhyolight commented on #1267
I understand that, but _should_ we clear the buffers? I don't think we should. This is a reach-around that violates the framework, IMO.

Perhaps there is some evidence that sensory organs get output from the cortex aside from motor commands... in which case that is a serious HTM theory discussion.

[2017-05-23 21:49] rhyolight commented on #1319
Sounds good to me, thanks. 👍

[2017-05-24 08:36] breznak commented on #1267
Biological theory aside, we __do__ have `resets` in the HTM chain "below" (some encoders, SP, TM, Classifier), so why not having it for Anomaly?

Then resets are imho quite logical for the Likelihood: the statistics is based on some buffered data. With a reset you signal "I explicitly know this is a a new/unknown sequence of data" *) , so there's no point making your statistics (likelihood) on the

[2017-05-24 10:46] breznak opened #1323 "Update Boost headers to latest 1.64"

[2017-05-24 10:49] breznak commented on #1293
I'm not sure how to install the binary swig files for win, can someone help me with that in the PR?

[2017-05-24 15:51] subutai commented on #1267
Hmm, this is an interesting discussion.  We haven't really dealt with resets before with anomaly detection, as it is really designed for streaming.  Here's what I think should happen if there are resets:

- The anomaly score right after the reset should be ignored. Nothing is predicted after a reset, so anomaly score will always be high.
- The running average buffer should be cleared out.  That's

[2017-05-24 19:57] breznak commented on #1267
Thanks Subutai, that sounds like a very reasonable solution, I'll implement it that way.

It still wouldn't solve the problem of "hard reset"..well, maybe yes, if the `historicalWindow` is very wide.

This is OT, but would there be any benefit? Ie. I'm not using the NetworkAPI, so this gives me ability to use the code, while it's easily used for the respective region as well.

[2017-05-24 20:19] Thanh-Binh commented on #1267
I think reset() should make sense for practical applications. Moreover, we really need interfaces for setting/changing/initializing some important, application-depending parameters of the AnomalyLikelihood like historicalWindows etc

[2017-05-24 22:15] breznak commented on #1267
I introduced it in the comment above, https://github.com/numenta/nupic.core/issues/1267#issuecomment-303656965 . Basically "soft reset" just signals end of a sequence in the same statistical distribution (to help TM); while a "hard reset" signals use of a completely different distribution.

[2017-05-24 22:44] subutai commented on #1267
Ok.  I would say a hard reset => create a new model and new Anomaly likelihood instance.

[2017-05-24 23:51] breznak opened #1325 "Optimize minmax in SP"

[2017-05-25 07:20] Thanh-Binh commented on #1267
Exactly, thanks

[2017-05-25 19:39] vitaly-krugl commented on #1293
@breznak - could you please specify which binary windows swig files you're having trouble with?

If it's `swig.exe` files, then all of the following are the same win32 version of `swig.exe`:
[code]

[2017-05-26 21:57] #986 closed

[2017-05-27 00:34] mrcslws opened #1328 "I just put a serialization bug into the TM"
This should be `activeSegments_`, not `matchingSegments_`:
https://github.com/numenta/nupic.core/blob/4748c9d80d1d7dbe76748ab62569767c4cf69837/src/nupic/algorithms/TemporalMemory.cpp#L1074

[2017-05-30 17:52] #1328 closed

[2017-05-31 00:10] mrcslws opened #1331 "Connections.mapSegmentsToCells() segfaults in debug builds"
In debug builds, when this code runs inside the `algorithms.so` module, it segfaults: https://github.com/numenta/nupic.core/blob/d33caa0bde7d643a41436558ca2531c99546b783/src/nupic/py_support/NumpyVector.hpp#L425

The assertion isn't actually failing. The call to `PyArray_EquivTypenums` causes a bad memory access. This is a macro for

[code]

There's a PyArray_API array that contains a bunch of fun

[2017-06-02 04:47] #1331 closed

[2017-06-02 04:55] mrcslws opened #1334 "Release 0.6.3"

[2017-06-02 05:01] #1334 closed

[2017-06-02 15:44] rhyolight opened #1337 "Update pytest-cov==1.6 to match nupic"

[2017-06-05 14:28] #1337 closed

[2017-06-07 16:55] ywcui1990 opened #1340 "SDR Classifier and region don't handle multiple calls correctly"
Implement the corresponding change to SDR classifier in nupic.core as in https://github.com/numenta/nupic/issues/3651

[2017-06-07 20:09] #1340 closed

[2017-06-08 18:33] #1325 closed

[2017-06-08 20:31] breznak opened #1345 "TemporalPooler runtime crash - memcpy-sse2-unaligned on Linux"
With the recent updates, on `Linux`, compiling with `clang-3.6` I am hitting a runtime error in (older, but still default) `TP`:

Backtrace:

[code]

I'm producing the bug on a private code, but I'm 99% sure it's in the TP, as if I replace with TM, it runs well.

I can see two problems:
- the crash :)
- that we haven't caught it in the CI

A rough bisect is about 2-3 weeks ago (worked) and today (

[2017-06-08 20:38] rhyolight commented on #1345
I don't think we run the old TP in CI anymore. That code is no longer maintained.

[2017-06-08 21:00] breznak commented on #1345
Well, that's news. Since when is it? So the `TM` is now officially the only TM?
Then this is a report for it being broken, and we should consider removal.

[2017-06-08 21:06] rhyolight commented on #1345
@scottpurdy Am I wrong about the TP? That implementation is not something I thought we were planning on taking forward.

[2017-06-08 21:09] rhyolight commented on #1345
Sorry, I got confused because I changed the name of this class in NuPIC to "BacktrackingTM".

[2017-06-09 00:00] scottpurdy commented on #1345
Looks like extensions were compiled on different platform and are incompatible with your environment. Did you install from PyPI or build nupic.bindings yourself?

[2017-06-09 00:02] scottpurdy commented on #1345
Oops I see you are compiling yourself. Not sure how this happened then. You might want to Google for "__memcpy_sse2_unaligned" to see if something about your environment can be changed.

[2017-06-13 19:03] ywcui1990 opened #1347 "Runtime error in nupic algorithm bindings"
This issue is exposed through regression tests

build	13-Jun-2017 06:58:06	      if self.valueToCategory or isinstance(classification["actValue"], basestring):
build	13-Jun-2017 06:58:06	        # Convert the bucketIdx back to the original value.
build	13-Jun-2017 06:58:06	        for i in xrange(len(arrayResult["actualValues"])):
build	13-Jun-2017 06:58:06	          if arrayResult["actualValues"]

[2017-06-13 19:53] #1347 closed

[2017-07-06 17:59] #1226 closed

[2017-07-06 20:26] #1323 closed

[2017-07-18 13:39] Thanh-Binh opened #1367 "why is FastCLAClassifier removed?"
At least in all my tests this classifier performs much better than SDRClassifier.
I am wondering that it is removed.
Could anyone explain me? Thanks

[2017-07-18 15:13] rhyolight commented on #1367
I removed it because we were no longer using the `CLAClassifier`. If you want it back, you can go back in repo history and put it in place in your local checkout. It should still work if you rebuild.

[2017-07-18 15:13] #1367 closed

[2017-07-18 16:01] Thanh-Binh commented on #1367
Hi Matt, thanks, I can do it myself, but I think, we can put all algorithms, which are good, but currently no longer used, in somewhere. They may be useful for other works in the future....

[2017-08-05 15:22] Thanh-Binh commented on #1283
Today I tried to build  again with VS2015 64bits, and have many errors, which I really do not understand like:
[code]
Any idea for solving this problem.... Thanks

[2017-09-20 16:53] mrcslws opened #1371 "nupic.core build fails with XCode 9.0"
When I install the new command line tools, I get a compilation error.

[code]

Build nupic.core:

[code]

Maybe we need to use a more recent version of CapnProto? We [currently](https://github.com/numenta/nupic.core/blob/d5f161a859c35862f9b679c077ac766cf8c2abbe/external/CapnProto.cmake#L50) use 0.5.3. https://github.com/capnproto/capnproto/releases

[2017-09-20 18:52] scottpurdy commented on #1371
Wouldn't hurt to upgrade to latest capnproto regardless of whether it resolves the issue.

If it doesn't, then either we need to change the compilation flags we use for capnp library or capnp needs to implement a fix. I can't find any complaints related to this error and xcode 9.0 so far (capnp-related or otherwise) but as people start switching over I am sure we will see a lot of reports that wil

[2017-10-04 22:15] #1371 closed

[2017-10-05 07:15] Thanh-Binh opened #1375 "strange problem with SparseMatrix.hpp"
Hi,
by using the function insertRandomNonZerosIntoColumns_() of the SparseMatrix, I have got an error at the line 1046 of the SparseMatrix.hpp, because the variable numRemainingAvailability is zero:
https://github.com/numenta/nupic.core/blob/master/src/nupic/math/SparseMatrix.hpp#L1046

after looking at the code, I believe that
1. it is logical by decrementing this variable will be 0 after some st

[2017-10-05 15:46] rhyolight commented on #1375
@mrcslws Can you offer your insight here?

[2017-10-05 16:29] mrcslws commented on #1375
I'm surprised you're calling this method directly. It's a helper for other methods. It has very strict requirements.

Did you see this requirement? "The caller must correctly count the number of zeros in the selection"
https://github.com/numenta/nupic.core/blob/d6081081957d96c4c0167aaf2224af2df13e657b/src/nupic/math/SparseMatrix.hpp#L981

If at this point `numRemainingAvailable` is 0, that means t

[2017-10-05 19:08] Thanh-Binh commented on #1375
@mrcslws No. I call this function indirectly, exactly, The function _learn() of ColumnPooler() call it over:
permanences.setRandomZerosOnOuter(activeCells.begin(), activeCells.end(), growthCandidateInput.begin(), growthCandidateInput.end(), maxNewByCell.begin(), maxNewByCell.end(), initialPermanence, rng);
where in my case, all input vectors: activeCells, growthCandidateInput, maxNewByCell have un

[2017-10-05 21:32] mrcslws commented on #1375
That's interesting. And you're confident that this is the ASSERT that you're hitting?

The existing code looks correct to me. It's hard to read because it's performance-optimized. For every position in the new row, one of the following is true:

- Possibility 1: The next selected column is a nonzero, or there are some nonzeros before the next selected column
  - Copy these nonzeros
- Possibility 2

[2017-10-06 03:25] mrcslws commented on #1375
By the way, in a release build with asserts disabled, it will still crash in this scenario. `rng.getUInt32(0)` will divide by zero. So none of our experiments have run into this issue. (Of course, that doesn't prove that this code is right. I'm really curious to know what input is leading to this assert.)

[2017-10-06 06:47] Thanh-Binh commented on #1375
@mrcslws here you find my experiment (abstracted), that will causes this issue. Thanks for help!
[code]

[2017-10-06 13:51] mrcslws commented on #1375
This is not a valid input. This array contains duplicates. Both arrays contain `2341, 2341`.

When I run your code, I hit a different assert. I translated your code into Python. Here's what happens.

[code]

RESULT

[code]

This is expected behavior. On your machine, is it somehow skipping this assert?

[2017-10-06 14:15] Thanh-Binh commented on #1375
Do we need all arrays A, G, N having no duplicate values?

The detected behaviour you had says me that the Python and C++ version of SparseMatrix are different, at least at handling of valid input data. I will look at the Python version ...

[2017-10-06 14:23] Thanh-Binh commented on #1375
In my application, the SparseMatrix funtion is called many times ago, maybe some internal variables of this instance are changed somehows so that the behavior I had is different from what you had because you run this function only 1 time... What do you think, @mrcslws ?

[2017-10-06 14:47] mrcslws commented on #1375
This is enforced in C++. It's not specific to Python. https://github.com/numenta/nupic.core/blob/d6081081957d96c4c0167aaf2224af2df13e657b/src/nupic/math/SparseMatrix.hpp#L994

Right, but even though the internals have changed, it should be easy to reproduce the error condition. I'd just have to know the method parameters and the contents of the row. (using `ind_begin_`, etc., as I mentioned before

[2017-10-06 16:46] Thanh-Binh commented on #1375
Hi Marcus, I found that it is an issue by generating a random array with unique elements in my C++, In ColumnPooler.py I really do not find out why the function
[code]
do not have any problem. In C++, we have to check if they are unique ....
Using Unique check I can avoid this issue!
Best thanks for your support.

[2017-10-06 16:53] mrcslws commented on #1375
If you're asking why that code never chooses duplicates: The `Random::sample` method never chooses the same index multiple times.

So does this mean you never actually hit the `NTA_ASSERT` that you mentioned in your initial comment? You were hitting a different assert, the one that checks that the input is sorted without duplicates.

[2017-10-06 16:53] #1375 closed

[2017-10-26 09:22] matousc89 opened #1376 "nupic.bindings install problem: IOError: [Errno 2] No such file or directory: '/tmp/VERSION'"
When I call: sudo -H pip install nupic.bindings, I get the following error:

[code]

[2017-10-27 15:09] rhyolight commented on #1376
I don't recommend you install with sudo. What happens when you run `pip install nupic --user`?

[2017-10-27 15:12] matousc89 commented on #1376
It throws the same error. Another idea?

[2017-10-29 13:36] rhyolight commented on #1376
Do you have write access to `/tmp`?

[2017-10-30 07:27] matousc89 commented on #1376
Yes. I double checked it. I have regular access settings for /tmp - so I can write there.

[2017-10-30 13:27] rhyolight commented on #1376
Can you try to [uninstall nupic completely](https://discourse.numenta.org/t/uninstalling-nupic/2175) before running `pip install nupic --user` again? @scott during the installation of nupic.bindings, what writes to `/tmp`?

[2017-10-30 16:40] scottpurdy commented on #1376
I believe pip uses /tmp as the default for its cache (downloads, etc). You can change it by setting the `TMPDIR` env dir while running the pip command.

[2017-11-01 12:42] matousc89 commented on #1376
I uninstall the nupic completely. Now I get:

[code]

[2017-11-01 13:24] rhyolight commented on #1376
This looks like a python 2 vs 3 error. Things like this usually happen when there are conflicting versions of python and / or pip installed on a system.

Try `pip uninstall unittest2`, then install again.

[2017-11-01 14:42] matousc89 commented on #1376
Done with no success. Any other hint?

[2017-11-01 20:33] rhyolight commented on #1376
The error you are getting [implies that you are running python 3](https://stackoverflow.com/questions/2535760/python-try-except-comma-vs-as-in-except). I'm not sure how to help you figure out why you are running python 3, but you should check to see what version of python is in your path and what versions are installed on your system.

[2017-11-02 10:08] matousc89 commented on #1376
Just to be sure I ran `pip2 install nupic --user` and I am back to previous error:

[code]
If I try to run `pip2 install nupic.bindings`, I get the previous error with /tmp

[2017-11-02 15:27] rhyolight commented on #1376
What operating system? 32b or 64b?

[2017-11-02 16:18] matousc89 commented on #1376
Ubuntu, 32b at home, 64b at work. The same error on both machines.

[2017-11-09 00:32] rhyolight commented on #1376
The problem is that we do not support 32b systems. :(

[2017-11-09 00:32] #1376 closed

[2018-01-04 20:26] scottpurdy opened #1380 "SP not giving same output for same input with learning disabled"
With learning disabled and boosting set to `0`, the Python SP will give the exact same output when repeatedly given the same input.

When the C++ SP is swapped in, the results vary dramatically. This should not be the case. If there is a dtype conversion issue, then we need to check for it and throw an exception.

[2018-01-10 15:36] breznak commented on #567
Should this be re-opened as Py2 end is planned? https://pythonclock.org/

[2018-01-10 16:15] lscheinkman commented on #1380
@scottpurdy I was not able to reproduce the issue. Can you review the tests I added to make sure it covers the issue?
- nupic.core: lscheinkman/nupic.core@eba72d0
- nupic: lscheinkman/nupic@90eea66

[2018-01-10 18:00] rhyolight commented on #567
No, but there is a community fork in the works adding Python 3 see https://discourse.numenta.org/t/nupic-core-c-bindings/3137

[2018-01-10 20:23] breznak commented on #1380
@lscheinkman can you please open a PR with the tests? Actually I also wanted to get a reproducible example first. And I am also observing a "strange" behavior with c++ SP, which I'd acknowledge to this issue.

[2018-01-11 03:51] breznak opened #1383 "SP: add equals operator=="
For some reason the SpatialPooler does not implement the equals `operator==` in its API.
This functionality would be useful and is currently implemented in SP's test class as `check_spatial_eq(SP1, SP2)`, we can take it from there and modify.

[2018-01-11 16:43] rhyolight commented on #1383
No matter how easy this new feature is to implement, it is still a new feature, and the repo is in maintenance mode. We are not accepting new features at this time because we don't have the resources to review ongoing contributions. Marek, have you talked to Christian and Matt about joining their community fork? I think you could provide some excellent experience to their efforts to modernize the

[2018-01-12 03:23] breznak opened #1386 "SpatialPooler initialization with constructor vs initialize() results in different SP state"

[2018-01-12 03:32] breznak opened #1388 "Unchecked input for SP compute crashes program"
the compute in SP `void compute(UInt input[], bool learn, UInt output[]);`
unfortunately, the data are passed as `UInt*` (typically from `vector.data()` with no way of checking the **correct array sizes**!

The check would be quite simple:
`sp.getNumInputs() == input.size() && sp.getNumColumns() == out.size()`

but we pass the pointer `T*` and cannot reconstruct the array properly, we cannot know

[2018-01-12 03:34] breznak commented on #1388
@scottpurdy is there something we can do about this? We've discussed this long ago, a solution would be (a bigger refactor) to use `vector/std::array` for compute()'s params; but you've mentioned performance reasons, does it still hold, or is there a way around it? (passing &vector)?

[2018-01-12 04:29] breznak commented on #1380
@scottpurdy can you please give us details on how to reproduce the issue?
I realized my test case was flawed (learning must be `false`, otherwise the change is from learning)... And w/ learniing=off I also cannot reproduce.

Also, have you observed the issue when working with c++ class, or a python wrapper?

[2018-01-12 10:36] breznak commented on #1388
Similar issue on python-bindings side is #1385

[2018-01-12 13:16] breznak opened #1390 "SP crashes on compute when no winners (no active columns) - caused by too few columns"
the `isWinner_()` method crashes, as it tries to index `[-1]`. This happens when there are no winners, and no active columns. This can happen with too small SP (few columns ~20).

[2018-01-12 21:47] scottpurdy commented on #1380
Experienced with Python wrapper and @lscheinkman has a fix (related to dtype casting)

[2018-01-12 21:51] scottpurdy commented on #1388
I think it is fine to require the caller to pass the right size array as long as it is documented. It would be nice to use sparse representations everywhere rather than passing UInt32 dense arrays that just contain binary values but that would be a somewhat involved refactor that I don't think we have the stomach for right now (would really require a lot of time from @lscheinkman )

[2018-01-12 22:47] breznak commented on #1388
agreed. But it's nice to hear the notion, esp since the discussed community nupic.core fork, I think the (eigen) sparse repr. all round the codebase would be the way forward.

[2018-01-16 17:30] #1380 closed

[2018-02-09 20:31] #1390 closed

[2018-02-09 20:32] #1386 closed

[2018-03-21 15:45] rhyolight commented on #1293
See discussion in https://github.com/numenta/nupic.core/pull/1407#issuecomment-374309233

[2018-03-29 06:32] Thanh-Binh opened #1410 "arithmetic exception at nupic::Random::getUInt32(unsigned int)"
sometimes I had this exception

[code]

 in the function in the file Random.cpp:

[code]

Because here the value of `max = 0`, so that I believe that `NTA_ASSERT(max > 0)` does not work correctly, but why?
Do you have any idea?
thanks.

[2018-04-02 18:11] rhyolight commented on #1410
That is strange. Is this something you can write a little code to replicate? or better yet a unit test?

[2018-04-02 19:02] lscheinkman commented on #1410
`NTA_ASSERT` is only enabled on debug builds. Make sure to pass `-DCMAKE_BUILD_TYPE=Debug` when invoking `cmake` .

[2018-04-02 19:08] Thanh-Binh commented on #1410
But we have a problem in release mode, where the inputs lie is zero

[2018-04-02 19:39] lscheinkman commented on #1410
If you need that check to be compiled in release mode then you chould replace the `NTA_ASSERT` macro with `NTA_CHECK`.

[2018-04-09 01:04] mewmew opened #1414 "Build error: throw will always call terminate"
When trying to build nupic.core at rev 7d66fc32c65358d3759c6794c6ddb1ce7d33ab79, I received the following error message:

[code]

[2018-04-09 01:06] mewmew commented on #1414
Additional info:

[code]

[2018-04-09 01:10] mewmew commented on #1414
Note, a comment states that throwing an exception from within the destructor is intended, even if "not good".

[code]

Is the solution to this to simple turn off the `-Werror=terminate` warning; i.e. pass `-Wno-error=terminate`

[2018-04-09 01:36] mewmew commented on #1414
WIth ` -Wno-error=terminate` added, the build finishes successfully.

[code]

[2018-04-10 14:48] sjgallagher2 opened #1416 "NTA_CHECK assertion correct in VectorFileSensor"
Noticed that in the VectorFileSensor.cpp function setParameterFromBuffer:328 it seems the NTA_CHECK assertion is backwards in some places. For example:
`void VectorFileSensor::setParameterFromBuffer(const std::string& name, Int64 index, IReadBuffer& value)`
`...`
`  if (name == "repeatCount")`
`  {`
`    NTA_CHECK(value.read(int_param) == 0)`
`      << where << "Unable to read repeatCount: "`
`

[2018-04-14 14:08] rhyolight commented on #1416
@scottpurdy or @lscheinkman do you guys know how `NTA_CHECK` works?

[2018-04-14 14:16] rhyolight commented on #1414
I don't know the history here. This has not been failing in any of our CI builds. What OS is this? I'm not sure adding this option is the right thing to do. @lscheinkman?

[2018-04-14 21:51] mewmew commented on #1414
Hi Matthew,

My guess is that it has to do with never versions of GCC. My version of GCC outputs a warning (`7.3.1 20180312`) since an exception is thrown in a destructor, and the build is set to treat warnings as errors; thus causing the build to fail.

As for OS, I'm running Arch Linux,

[code]

Let me know if you require any additional information.

Cheers
/u

P.S. Thanks Matthew for putting th

[2018-04-16 18:38] scottpurdy commented on #1416
The expression inside `NTA_CHECK()` should evaluate to true when the code and inputs are correct. I'm not sure if the listed check is incorrect though. The comment says that `int_param` should be a positive integer, not the return value of `read`.

[2018-05-07 17:40] rhyolight commented on #1414
I'll keep an eye out for GCC failures like this being reported. Thanks for writing this up.

[2018-06-25 19:06] #99 closed

[2018-06-25 19:07] #126 closed

[2018-06-25 19:08] #195 closed

[2018-06-25 19:09] #209 closed

[2018-06-25 19:09] #233 closed

[2018-06-25 19:10] #250 closed

[2018-06-25 19:10] #301 closed

[2018-06-25 19:13] #333 closed

[2018-06-25 19:13] #350 closed

[2018-06-25 19:13] #354 closed

[2018-06-25 19:13] #358 closed

[2018-06-25 19:13] #362 closed

[2018-06-25 19:14] #480 closed

[2018-06-25 19:14] #548 closed

[2018-06-25 19:14] #573 closed

[2018-07-30 20:28] breznak commented on #1414
Btw, duplicate of #1000

[2018-07-30 20:42] breznak commented on #1410
Yes, I believe the correct approach is NTA_CHECK, as modulo 0 does not make sense.
@rhyolight  this shows it would be nice to run some CI in both Debug, Release mode.

[2018-07-31 03:35] breznak commented on #1410
@lscheinkman could you explain the motivation for the `do..while` loops? As removed in the above PR.
@Thanh-Binh you can use to community version, where this is fixed now.

[2018-07-31 10:48] #1319 closed

[2018-08-02 05:58] mrcslws opened #1434 "The random number generator is slightly biased toward returning 0"
This code looks wrong.

https://github.com/numenta/nupic.core/blob/69b9c79cf34a9c7ab90c8c0f4616504da40edee7/src/nupic/utils/Random.cpp#L192

I think this line should be `while (sample >= smax);`.

Here's a quick explanation of this code. It generates a random number between 0 and n - 1 by generating a random integer `mod n`. The sequence `0 mod n`, `1 mod n`, `2 mod n`, `...` will cycle through th

[2018-08-02 06:01] mrcslws commented on #1410
The `do...while` is important for making sure all return values are equally likely. I just posted an explanation here: https://github.com/numenta/nupic.core/issues/1434

Regarding this issue, I don't think there's any fix needed. The NTA_ASSERT is serving its purpose.

[2018-08-02 06:01] #1410 closed

[2018-08-02 10:12] breznak commented on #1434
Thank you @mrcslws ! Now I understand your motivation, although I still don't think the logic is correct.
Some notes:

- I don't like the `do { ...} while (sample > smax)` for it adds non-determinism (in terms of RT-execution, not random values).
  - so I removed the loop and all tests still work https://github.com/htm-community/nupic.cpp/pull/41/files#diff-737a75596163e5aa8085fd74441d2bd9L190

[2018-08-02 14:17] mrcslws commented on #1434
Nice catch! This means that the random number generator is biased in the same way as [simply using `rand() % n`](http://www.cplusplus.com/reference/cstdlib/rand/). The code that tries to eliminate that bias isn't doing anything.

**So, to summarize the bugs:**

- Either `RandomImpl::getUInt32` needs to return numbers up to ~4 billion, or `Random::getUInt32` needs to do all of its current logic on

[2018-08-02 15:49] breznak commented on #1434
Can you verify my test is correct? I have the "half" RandomImpl.getUInt() and "biased" Random.getUInt and I cannot reproduce the bias in the testcase.

yes, it's statistically 1 (maybe 2) passes in the loop, but for compiler optimization it's an unknown-length loop. (I don't know how performance-critical this codepath is)

Wouldn't all (serious) offer that? https://en.cppreference.com/w/cpp/numeri

[2018-08-06 16:18] #1000 closed

[2018-08-21 00:32] paulscode opened #1436 "No tag for Release 1.0.6"
Commit 4d13f1674baa36abeb78189d0f6710e1f48e859a should be tagged as "1.0.6", since the requirements.txt for NuPIC release 1.0.5 reference "nupic.bindings==1.0.6".  Having the tag will make it easier for folks who are building NuPIC 1.0.5 from source.

[2018-08-23 16:35] rhyolight commented on #1436
Thanks, I had a tag locally, just forgot to push it. Fixed now (and I created a release).

[2018-08-23 16:35] #1436 closed

[2018-09-08 20:25] paulscode opened #1437 "nupic.bindings failed test SimpleTwoRegionNetworkIntrospection on 32 bit Linux"
When building NuPIC Core from source on 32 bit Linux, the SimpleTwoRegionNetworkIntrospection test case for nupic.bindings fails:

[code]

[2018-09-09 13:45] paulscode opened #1439 "Build fails on arm64 Linux"
Building for the arm64 architecture on Linux fails with the following error:

`src/nupic/math/ArrayAlgo.hpp:3539:11: error: impossible constraint in 'asm'`

[2018-11-04 10:45] Thanh-Binh commented on #1410
@lscheinkman @mrcslws : For debugging problem with getUInt32(), today I successfully compile both nupic_core and htmresearch-core in debug mode and release as mentioned in the README.

So I can compile and run my application in release mode.

BUT in the debug mode, I always have a linking error to debug library like:
```C undefined reference to `nupic::algorithms::temporal_memory::TemporalMemory::

[2018-11-16 10:03] #1276 closed

[2018-11-24 10:11] Thanh-Binh opened #1444 "SparseMatrixConnections::createSegments() crashes"
Hi all,
I am using SparseMatrixConnections for createSegment() and after that for growSynapsesToSample() like
[code]
It crashes when the size of new segments > 1 because the pointer of newSegments is increased in the function createSegments(), so that by finishing test(), the program tries to destruct the vector and get an error like:
free(): invalid pointer.

Do you have any idea for solving this

[2018-11-24 10:58] breznak commented on #1444
HI @Thanh-Binh , can you provide a small running test? I'll try to fix that in https://github.com/htm-community/nupic.cpp

[2018-11-24 11:01] breznak commented on #1345
Closing as non-reproducer anymore.

[2018-11-24 11:01] #1345 closed

[2018-11-24 15:39] Thanh-Binh commented on #1444
@breznak I will have an idea for running test... and provide it soon ...

[2018-11-27 11:58] Thanh-Binh commented on #1444
In the meantime after analysing the codes in SparseMatrix.hpp, I found out that the size of the input "overlap" for computeActivity() should be initialized by the current number of synapses for all segments, exactly by calling matrix.nRows(), because it will be changed after calling createSegments(), and growSynapsesForSample().
Now it works correctly, and the debug time helps me to understand bet

[2018-11-27 11:58] #1444 closed

[2018-11-29 08:59] #1267 closed

[2018-11-29 09:58] breznak commented on #1439
hi @paulscode , could you please test the community version? I would be interested if it compiles on ARM64. We've removed ASM and made many cleanups, so there's a chance it'll work out of the box (or with little fixes)
https://github.com/htm-community/nupic.cpp/

[2018-11-29 10:00] breznak commented on #1434
Update, in the community repo, we've replaced Random with std:: version, you might like it.
https://github.com/htm-community/nupic.cpp/

[2018-11-29 16:13] paulscode commented on #1439
Sure, @breznak I'll take a look when I have some free time.

[2018-11-30 15:55] #1383 closed

[2019-07-19 21:47] mrcslws opened #1455 "Error with latest Xcode: Directory.cpp: '~Iterator' has a non-throwing exception"
A semi-recent change to Xcode and the MacOS Command Line Tools cause the nupic.core build to fail.

Currently on my machine with Xcode 10.2.1:

[code]

When I revert to an older command line tools from Fall 2018, the build works.

We should change this destructor to be non-throwing.

[2019-07-24 21:40] #1455 closed

[2022-08-09 08:33] slim0090 opened #1462 "Unable to install nupic.bindings"
Hi,

I tried to run the pip install nupic.bindings command but it shows this error

<img width="891" alt="Screenshot 2022-08-09 at 4 31 34 PM" src="https://user-images.githubusercontent.com/110723456/183603088-e6084030-3a28-48d6-9999-b2560ee6287b.png">